@import fr.gospeak.core.domain.{Event, Group}
@import fr.gospeak.web.user.groups.events.routes.EventCtrl
@import fr.gospeak.web.views.domain.{Breadcrumb, HeaderInfo}
@import fr.gospeak.web.views.html.partials.container

@(group: Group, event: Event)(h: HeaderInfo, b: Breadcrumb)
@container("Gospeak", h, Some(b)) {
    <div>
        <span class="float-right">
            <a class="btn btn-outline-secondary" href="@EventCtrl.create(group.slug)" title="edit" aria-hidden="true">
                <i class="fas fa-edit"></i>
            </a>
            <a class="btn btn-danger" href="@EventCtrl.list(group.slug)" title="delete" aria-hidden="true">
                <i class="fas fa-trash"></i>
            </a>
        </span>
        <h1>@event.name.value</h1>
    </div>

    <h2>Planned talks</h2>

    TODO

    <h2>Submitted talks</h2>

    TODO
}
