@import fr.gospeak.core.domain.{Event, Group}
@import fr.gospeak.web.user.groups.events.routes.EventCtrl
@import fr.gospeak.web.user.groups.events.views.html.partials.item
@import fr.gospeak.web.views.domain.{Breadcrumb, HeaderInfo}
@import fr.gospeak.web.views.html.partials.{container, pagination, search}

@(group: Group, events: Seq[Event])(h: HeaderInfo, b: Breadcrumb)
@container("Gospeak", h, Some(b)) {
    <div>
        <span class="float-right">
            <a class="btn btn-primary" href="@EventCtrl.create(group.slug.value)">Create event</a>
        </span>
        <h1>@events.length events</h1>
    </div>

    @search(EventCtrl.list(group.slug.value))
    @pagination(p => EventCtrl.list(group.slug.value, page = Some(p)))

    <ul class="list-unstyled">
    @events.map { e => @item(group, e) }
    </ul>

    @pagination(p => EventCtrl.list(group.slug.value, page = Some(p)))
}
