@import fr.gospeak.core.domain.{Group, Proposal, User, Event}
@import fr.gospeak.web.pages.partials.display.html._
@import fr.gospeak.web.utils.Formats
@import fr.gospeak.web.pages.orga.partners.contacts.routes.ContactCtrl

@import fr.gospeak.core.domain.Contact
@import fr.gospeak.core.domain.Partner

@(group: Group, partner: Partner, contact: Contact)
<div class="list-group-item list-group-item-action">
    <h5 class="mb-1">
        @if(contact.description.isEmpty) {
            <a href="@ContactCtrl.detail(group.slug, partner.slug, contact.id)">@contact.name.value</a>
        } else {
            <a href="@ContactCtrl.detail(group.slug, partner.slug, contact.id)" data-toggle="html-popover" data-trigger="hover">
                <div class="content">@markdown(contact.description)</div>
                @contact.name.value
            </a>
        }
        <small>(@emailLink(contact.email))</small>
    </h5>
</div>