@import com.mohiva.play.silhouette.api.actions.SecuredRequest
@import fr.gospeak.core.domain.Group
@import fr.gospeak.web.auth.domain.CookieEnv
@import fr.gospeak.web.auth.routes.AuthCtrl
@import fr.gospeak.web.domain.Breadcrumb
@import fr.gospeak.web.pages.orga.cfps.routes.CfpCtrl
@import fr.gospeak.web.pages.orga.events.routes.EventCtrl
@import fr.gospeak.web.pages.orga.partners.routes.PartnerCtrl
@import fr.gospeak.web.pages.orga.proposals.routes.ProposalCtrl
@import fr.gospeak.web.pages.orga.routes.GroupCtrl
@import fr.gospeak.web.pages.orga.settings.routes.SettingsCtrl
@import fr.gospeak.web.pages.orga.speakers.routes.SpeakerCtrl
@import fr.gospeak.web.pages.published.groups.routes.{GroupCtrl => PublicGroupCtrl}
@import fr.gospeak.web.pages.orga.venues.routes.VenueCtrl
@import fr.gospeak.web.pages.orga.sponsors.routes.SponsorCtrl
@import fr.gospeak.web.pages.partials.container.html._
@import fr.gospeak.web.pages.partials.form.html.formBtn

@(title: String, group: Group, b: Breadcrumb)(style: Html = Html(""))(content: Html)(script: Html = Html(""))(implicit req: SecuredRequest[CookieEnv, AnyContent], messages: Messages)
@main(title, style, script) {
    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="@GroupCtrl.detail(group.slug)">@group.name.value</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    @navbarLink(EventCtrl.list(group.slug)) {Events}
                    @navbarLink(CfpCtrl.list(group.slug)) {CFPs}
                    @navbarLink(ProposalCtrl.list(group.slug)) {Proposals}
                    @navbarLink(SpeakerCtrl.list(group.slug)) {Speakers}
                    @navbarLink(PartnerCtrl.list(group.slug)) {Partners}
                    @navbarLink(VenueCtrl.list(group.slug)) {Venues}
                    @navbarLink(SponsorCtrl.list(group.slug)) {Sponsors}
                </div>
            </div>
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="@PublicGroupCtrl.detail(group.slug)" target="_blank" title="Public page of your group" data-toggle="tooltip" data-placement="bottom"><i class="fas fa-eye"></i></a>
                @navbarLink(SettingsCtrl.settings(group.slug)) {<i class="fas fa-cogs"></i>}
                @userDropdown(req.identity, Some(group))
            </div>
        </div>
    </nav>
    @breadcrumb(b)
    <div class="container">
        @if(req.identity.user.emailValidated.isEmpty) {
            @alert("warning", "d-flex justify-content-between align-items-center") {
                <span class="align-self-center">
                    Your email is not validated, please click on the validation link in the signup email</span>
                @formBtn(AuthCtrl.accountValidation(), Seq("class" -> "btn-sm btn-warning")) {Resend validation email}
            }
        }
        @flash(req.flash)
        @content
    </div>
    @footer()
}
