@import fr.gospeak.web.auth.routes.AuthCtrl
@import fr.gospeak.web.domain.Breadcrumb
@import fr.gospeak.web.pages.orga.cfps.routes.CfpCtrl
@import fr.gospeak.web.pages.orga.events.routes.EventCtrl
@import fr.gospeak.web.pages.orga.partners.routes.PartnerCtrl
@import fr.gospeak.web.pages.orga.proposals.routes.ProposalCtrl
@import fr.gospeak.web.pages.orga.routes.GroupCtrl
@import fr.gospeak.web.pages.orga.settings.routes.SettingsCtrl
@import fr.gospeak.web.pages.orga.speakers.routes.SpeakerCtrl
@import fr.gospeak.web.pages.published.groups.routes.{GroupCtrl => PublicGroupCtrl}
@import fr.gospeak.web.pages.orga.sponsors.routes.SponsorCtrl
@import fr.gospeak.web.api.ui.routes.SuggestCtrl
@import fr.gospeak.web.pages.partials.container.html._
@import fr.gospeak.web.pages.partials.form.html.formBtn
@import fr.gospeak.web.utils.OrgaReq

@(title: String, b: Breadcrumb)(style: Html = Html(""))(content: Html)(script: Html = Html(""))(implicit req: OrgaReq[AnyContent])
@main(title, "orga.css", style, script, req.env) {
    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="@GroupCtrl.detail(req.group.slug)">@req.group.name.value</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    @navbarLink(EventCtrl.list(req.group.slug), "data-hotkey" -> "1") {Events}
                    @navbarLink(CfpCtrl.list(req.group.slug), "data-hotkey" -> "2") {CFPs}
                    @* @navbarLink(ProposalCtrl.list(req.group.slug), "data-hotkey" -> "3") {Proposals} *@
                    @* @navbarLink(SpeakerCtrl.list(req.group.slug), "data-hotkey" -> "4") {Speakers} *@
                    @navbarLink(PartnerCtrl.list(req.group.slug), "data-hotkey" -> "3") {Partners}
                    @* @navbarLink(SponsorCtrl.list(req.group.slug), "data-hotkey" -> "7") {Sponsors} *@
                </div>
            </div>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" autocomplete="off" data-omni-search="@SuggestCtrl.searchRoot(req.group.slug)" data-hotkey="/">
            </form>
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="@PublicGroupCtrl.detail(req.group.slug)" target="_blank" title="Public page of your group" data-toggle="tooltip" data-placement="bottom" data-hotkey="g p"><i class="fas fa-eye"></i></a>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSettings" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-cogs"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownSettings">
                        <a class="dropdown-item" href="@GroupCtrl.contactMembers(req.group.slug)">Contact members</a>
                        <a class="dropdown-item" href="@SponsorCtrl.list(req.group.slug)">Sponsors</a>
                        <a class="dropdown-item" href="@SettingsCtrl.settings(req.group.slug)" data-hotkey="g s">Settings</a>
                    </div>
                </div>
                @userDropdown(req.user, req.groups, Some(req.group))
            </div>
        </div>
    </nav>
    @breadcrumb(b)
    <div class="container">
        @if(req.user.emailValidated.isEmpty) {
            @alert("warning", "d-flex justify-content-between align-items-center") {
                <span class="align-self-center">
                    Your email is not validated, please click on the validation link in the signup email</span>
                @formBtn(AuthCtrl.resendEmailValidation(), Seq("class" -> "btn-sm btn-warning")) {Resend validation email}
            }
        }
        @flash(req.flash)
        @content
    </div>
    <div class="modal fade" id="hotkeysModal" tabindex="-1" role="dialog" aria-labelledby="hotkeysModalLabel" aria-hidden="true" data-hotkey="?">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="hotkeysModalLabel">Gospeak hotkeys</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Hi power user, you can use theses shortcuts to be more productive in Gospeak</p>
                    <div class="row">
                        <div class="col">
                            <h4>Navigation</h4>
                            <p class="mb-1"><span class="float-right"><kbd>?</kbd></span>Hotkey help</p>
                            <p class="mb-1"><span class="float-right"><kbd>/</kbd></span>Focus search</p>
                            <p class="mb-1"><span class="float-right"><kbd>g</kbd> <kbd>h</kbd></span>Go to your Home</p>
                            <p class="mb-1"><span class="float-right"><kbd>g</kbd> <kbd>g</kbd></span>Go to your first Group</p>
                            <p class="mb-1"><span class="float-right"><kbd>g</kbd> <kbd>p</kbd></span>Go to Public page</p>
                            <p class="mb-1"><span class="float-right"><kbd>g</kbd> <kbd>s</kbd></span>Go to Settings</p>
                            <p class="mb-1"><span class="float-right"><kbd>1</kbd> or <kbd>2</kbd> or <kbd>3</kbd>...</span>Navigate to menu X</p>
                            <p class="mb-1"><span class="float-right"><kbd>shift</kbd>+<kbd>right</kbd></span>Next page</p>
                            <p class="mb-1"><span class="float-right"><kbd>shift</kbd>+<kbd>left</kbd></span>Previous page</p>
                        </div>
                        <div class="col">
                            <h4>Actions</h4>
                            <p class="mb-1"><span class="float-right"><kbd>+</kbd></span>Toggle create button</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    @footer()
}
