@import fr.gospeak.core.domain.{Contact, Partner}
@import fr.gospeak.web.pages.partials.display.html._
@import fr.gospeak.web.pages.orga.partners.contacts.routes.ContactCtrl
@import fr.gospeak.web.utils.OrgaReq

@(partner: Partner, contact: Contact)(implicit req: OrgaReq[AnyContent])
<div class="list-group-item list-group-item-action">
    @if(contact.description.isEmpty) {
        <a href="@ContactCtrl.detail(req.group.slug, partner.slug, contact.id)">@contact.name.value</a>
    } else {
        <a href="@ContactCtrl.detail(req.group.slug, partner.slug, contact.id)" data-toggle="html-popover" data-trigger="hover">
            <div class="content">@markdown(contact.description)</div>
            @contact.name.value
        </a>
    }
    (@emailLink(contact.email))
</div>
