@import com.mohiva.play.silhouette.api.actions.SecuredRequest
@import fr.gospeak.core.domain.Group
@import fr.gospeak.web.auth.domain.CookieEnv
@import fr.gospeak.web.domain.Breadcrumb
@import fr.gospeak.web.pages.partials.html.{main, breadcrumb}
@import fr.gospeak.web.pages.partials.form.html.formBtn
@import fr.gospeak.web.auth.routes.AuthCtrl
@import fr.gospeak.web.pages.orga.routes.GroupCtrl
@import fr.gospeak.web.pages.speaker.routes.TalkCtrl
@import fr.gospeak.web.pages.user.routes.UserCtrl
@import fr.gospeak.web.pages.orga.events.routes.EventCtrl
@import fr.gospeak.web.pages.orga.cfps.routes.CfpCtrl
@import fr.gospeak.web.pages.orga.proposals.routes.ProposalCtrl
@import fr.gospeak.web.pages.orga.speakers.routes.SpeakerCtrl
@import fr.gospeak.web.pages.orga.settings.routes.SettingsCtrl

@(title: String, group: Group, b: Breadcrumb)(style: Html = Html(""))(content: Html)(script: Html = Html(""))(implicit req: SecuredRequest[CookieEnv, AnyContent], messages: Messages)
@alert(kind: String, classes: String = "")(msg: Html) = {
    <div class="alert alert-@kind alert-dismissible fade show @classes" role="alert">
        @msg
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@main(title, style, script) {
    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="@GroupCtrl.detail(group.slug)">@group.name.value</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="@EventCtrl.list(group.slug)">Events</a>
                    <a class="nav-item nav-link" href="@CfpCtrl.list(group.slug)">CFPs</a>
                    <a class="nav-item nav-link" href="@ProposalCtrl.list(group.slug)">Proposals</a>
                    <a class="nav-item nav-link" href="@SpeakerCtrl.list(group.slug)">Speakers</a>
                    <a class="nav-item nav-link" href="@SettingsCtrl.list(group.slug)">Settings</a>
                </div>
            </div>
            <div class="navbar-nav">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown-user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="@req.identity.user.avatar.url.value" class="avatar" alt="avatar"/>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-user">
                        <a class="dropdown-item" href="@TalkCtrl.list()">My talks</a>
                        @req.identity.groups.map { g =>
                            <a class="dropdown-item @if(g.id == group.id) {active}" href="@GroupCtrl.detail(g.slug)">@g.name.value</a>
                        }
                        <a class="dropdown-item" href="@UserCtrl.profile()">Profile</a>
                        <a class="dropdown-item" href="@AuthCtrl.doLogout()">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    @breadcrumb(b)
    <div class="container">
        @if(req.identity.user.emailValidated.isEmpty) {
            @alert("warning", "d-flex justify-content-between") {
                <span class="align-self-center">
                    Your email is not validated, please click on the validation link in the signup email</span>
                @formBtn(AuthCtrl.accountValidation(), Seq("class" -> "btn-sm btn-secondary")) {Resend validation email}
            }
        }
        @req.flash.get("success").map { msg => @alert("success")(Html(msg)) }
        @req.flash.get("info").map { msg => @alert("info")(Html(msg)) }
        @req.flash.get("warning").map { msg => @alert("warning")(Html(msg)) }
        @req.flash.get("error").map { msg => @alert("danger")(Html(msg)) }
        @content
    </div>
}