@import fr.gospeak.core.domain.{Cfp, Event, Group}
@import fr.gospeak.web.api.ui.routes.SuggestCtrl
@import fr.gospeak.web.pages.partials.form.html._
@import fr.gospeak.web.utils.Formats

@(form: Form[Event.Data], group: Group, cfps: Seq[Cfp])(implicit messages: Messages)
@fieldHorizontal(form("name"), Seq("label" -> "Name", "help" -> "Name of the event")) { (field, args) =>
    @inputText(field, Seq("placeholder" -> "Event name", "autofocus" -> "true") ++ args)
}
@fieldHorizontal(form("slug"), Seq("label" -> "Slug", "help" -> "Reference of the event (in urls for example)")) { (field, args) =>
    @inputText(field, Seq("placeholder" -> "Event slug", "slug-for" -> form("name").id) ++ args)
}
@fieldHorizontal(form("start"), Seq("label" -> "Date", "help" -> "Local date and time when the event will start")) { (field, args) =>
    @inputDatetime(field, args)
}
@fieldHorizontal(form("venue"), Seq("label" -> "Venue", "help" -> "Where your event will take place")) { (field, args) =>
    @inputSelect(field, Seq(), Seq("placeholder" -> "", "remote" -> SuggestCtrl.venues(group.slug).toString) ++ args)
}
@fieldHorizontal(form("cfp"), Seq("label" -> "CFP", "help" -> "You will be able to add proposals from the CFP to the event")) { (field, args) =>
    @inputSelect(field, cfps.map(c => c.id.value -> (c.name.value + " - " + Formats.cfpDates(c))), args ++ Seq("placeholder" -> "-- Attach a CFP to this event", "optional" -> ""))
}
@fieldHorizontal(form("tags"), Seq("label" -> "Tags", "help" -> "Main topics of the event")) { (field, args) =>
    @inputTags(field, args ++ Seq("remote" -> SuggestCtrl.tags().toString))
}
