@import fr.gospeak.core.domain.{Event, Proposal, User, Cfp, Venue}
@import fr.gospeak.web.utils.Formats
@import fr.gospeak.web.pages.partials.display.html._
@import fr.gospeak.web.pages.orga.events.routes.EventCtrl
@import fr.gospeak.web.pages.orga.cfps.proposals.routes.ProposalCtrl
@import fr.gospeak.web.pages.orga.speakers.routes.SpeakerCtrl
@import fr.gospeak.web.utils.OrgaReq

@(event: Event, cfp: Option[Cfp], venues: Seq[Venue.Full], proposals: Seq[Proposal], speakers: Seq[User])(implicit req: OrgaReq[AnyContent])
<div id="basicsAccordion">
    <div class="card mb-3">
        <div class="card-header card-collapse" id="basicsHeadingOne">
            <h5 class="mb-0">
                <button type="button" class="btn btn-link btn-block card-btn collapsed p-3" data-toggle="collapse" data-target="#basicsCollapse-@event.slug.value" aria-expanded="false" aria-controls="basicsCollapseOne">
                    <span class="row align-items-center">
                        <span class="col-md-6 mb-2 mb-md-0">
                            <span class="media align-items-center">
                                <span class="mx-2">
                                    @event.venue.flatMap(id => venues.find(_.id == id)).map { venue =>
                                        <img class="max-width-6 mr-3" src=" @venue.partner.logo.value" alt="Partner logo">
                                    }.getOrElse {
                                        <img class="max-width-6 mr-3" src="https://secure.meetupstatic.com/photos/event/b/6/1/4/600_251926612.jpeg" alt="Image Description">
                                        }
                                </span>

                                <span class="media-body">
                                    <span class="d-block font-size-1"><a href="@EventCtrl.detail(req.group.slug, event.slug)">@event.name.value</a>
                                        @event.refs.meetup.map { ref =>
                                            <a href="@ref.link" target="_blank">
                                                <i class="fab fa-meetup"></i>
                                            </a>
                                        }
                                    </span>
                                </span>
                            </span>
                        </span>
                        <span class="col-4 col-md-2 text-md-right">
                            @if(!event.isPublic) {
                                <span class="btn btn-xs  btn-pill btn-soft-dark">Draft</span>
                            }
                            <span class="btn btn-xs  btn-pill btn-soft-primary">@Formats.plural(event.talks.length, "talk")</span>
                        </span>
                        <span class="col-6 col-md-3">
                            <span class="text-primary font-size-1">@Formats.date(event.start)</span>
                        </span>

                        <span class="col-2 col-md-1 text-right">
                            <span class="card-btn-arrow">
                                <span class="fas fa-arrow-down small"></span>
                            </span>
                        </span>
                    </span>
                </button>
            </h5>
        </div>
        <div id="basicsCollapse-@event.slug.value" class="collapse" aria-labelledby="basicsHeadingOne" data-parent="#basicsAccordion" style="">
            <div class="row card-body">
                <div class="col-sm-6">
                        <h2 class="h6 mb-0">@tags(event.tags)</h2>
                    <div class="pt-3 pb-4 px-4">
                        <div class="d-flex align-items-start mb-4" >
                            @if(event.talks.nonEmpty) {
                                @event.talks.map { pId =>
                                    <div class="ml-3">
                                        @proposals.find(_.id == pId).map { p =>
                                            <span class="d-block text-dark">
                                                @cfp.map { c => <a class="" href="@ProposalCtrl.detail(req.group.slug, c.slug, p.id)">@p.title.value</a> }.getOrElse {
                                                    <span class="">@p.title.value</span>
                                                }
                                            by
                                                <img class="u-sm-avatar rounded-circle" src="https://secure.meetupstatic.com/photos/event/b/6/1/4/600_251926612.jpeg" alt="Image Description">
                                            </span>

                                        }.getOrElse { Unknown (@pId.value) }
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <h5 class="h6 mb-0">
                        @event.venue.flatMap(id => venues.find(_.id == id)).map { venue =>
                            @venue.partner.data.name.value
                        }
                    </h5>
                    <h5 class="font-size-1">
                        @event.maxAttendee.map { max => @Formats.plural(max, "place")}
                    </h5>
                    <address class="font-size-1">
                        @event.venue.flatMap(id => venues.find(_.id == id)).map { venue =>
                            @venue.address.value
                        }
                    </address>
                </div>
            </div>
        </div>
    </div>
</div>
