@import fr.gospeak.core.domain.{Group, Proposal, User}
@import fr.gospeak.web.pages.orga.cfps.proposals.routes.ProposalCtrl
@import fr.gospeak.web.pages.orga.events.routes.EventCtrl
@import fr.gospeak.web.pages.orga.speakers.routes.SpeakerCtrl
@import fr.gospeak.web.pages.partials.display.html._
@import fr.gospeak.web.pages.partials.form.html._
@import fr.gospeak.web.utils.Formats._
@import fr.gospeak.web.utils.UserReq

@(group: Group, proposal: Proposal.Full, speakers: Seq[User], userRatings: Seq[Proposal.Rating])(implicit req: UserReq[AnyContent])
<div class="list-group-item d-flex justify-content-between align-items-center">
    <div>
        <h5 class="mb-1">
            <span>@proposalStatusIcon(proposal.status)</span>
            <a href="@ProposalCtrl.detail(group.slug, proposal.cfp.slug, proposal.id)">@proposal.title.value</a>
            @proposal.event.map { event => <small>given at <a href="@EventCtrl.detail(group.slug, event.slug)" title="on @date(event.start)">@event.name.value</a></small> }
        </h5>
        <span>
            @duration(proposal.duration)
            @slidesIcon(proposal.slides)
            @videoIcon(proposal.video)
            @proposalRating(proposal, userRatings.find(_.proposal == proposal.id).map(_.grade), "btn-xs")
            @tags(proposal.tags)
            <small>Proposed on @date(proposal.info.createdAt)</small>
        </span>
    </div>
    <div style="white-space: nowrap">@proposal.speakers.toList.map { id => @speakerAvatar(speakers, id, Some(s => SpeakerCtrl.detail(group.slug, s.slug))) }</div>
</div>
