@import fr.gospeak.web.pages.partials.form.html._
@import fr.gospeak.web.utils.SecuredReq

@(form: Field)(implicit req: SecuredReq[AnyContent])
<div class="card mb-3">
    <div class="card-header" data-toggle="collapse" data-target="#socialCollapse">Social accounts</div>
    <div class="card-body collapse show" id="socialCollapse">
        @fieldHorizontal(form("facebook"), Seq("label" -> "Facebook")) { (field, args) =>
            @inputUrl(field, Seq("placeholder" -> "ex: https://www.facebook.com/GoSpeak-116563639716599"))
        }
        @fieldHorizontal(form("instagram"), Seq("label" -> "Instagram")) { (field, args) =>
            @inputUrl(field, Seq("placeholder" -> "ex: https://www.instagram.com/gospeak"))
        }
        @fieldHorizontal(form("twitter"), Seq("label" -> "Twitter")) { (field, args) =>
            @inputUrl(field, Seq("placeholder" -> "ex: https://twitter.com/GospeakApp"))
        }
        @fieldHorizontal(form("linkedIn"), Seq("label" -> "LinkedIn")) { (field, args) =>
            @inputUrl(field, Seq("placeholder" -> "ex: https://www.linkedin.com/company/gospeak"))
        }
        @fieldHorizontal(form("youtube"), Seq("label" -> "Youtube")) { (field, args) =>
            @inputUrl(field, Seq("placeholder" -> "ex: https://www.youtube.com/channel/UCKFAwlgWiAB4vUpgnS63qog"))
        }
        @fieldHorizontal(form("meetup"), Seq("label" -> "Meetup")) { (field, args) =>
            @inputUrl(field, Seq("placeholder" -> "ex: https://www.meetup.com/fr-FR/HumanTalks-Paris"))
        }
        @fieldHorizontal(form("eventbrite"), Seq("label" -> "Eventbrite")) { (field, args) =>
            @inputUrl(field, Seq("placeholder" -> "ex: https://www.eventbrite.com/o/the-family-15751873639"))
        }
        @fieldHorizontal(form("slack"), Seq("label" -> "Slack")) { (field, args) =>
            @inputUrl(field, Seq("placeholder" -> "ex: https://humantalks.slack.com"))
        }
        @fieldHorizontal(form("discord"), Seq("label" -> "Discord")) { (field, args) =>
            @inputUrl(field, Seq("placeholder" -> "ex: https://discordapp.com/invite/3MMu9cR"))
        }
    </div>
</div>
