@import fr.gospeak.core.domain.{Group, User}
@import fr.gospeak.web.pages.orga.speakers.routes.SpeakerCtrl
@import fr.gospeak.web.pages.partials.display.html._

@(group: Group, speaker: User)
<div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
    <div>
        <img src="@speaker.avatar.url.value" alt="@speaker.name.value avatar" class="avatar avatar-list">
    </div>
    <div class="col-11">
        <a href="@SpeakerCtrl.detail(group.slug, speaker.slug)" class="no-style"><h5 class="mb-0">@speaker.name.value</h5></a>
        <p class="text-secondary font-italic no-margin">
            @speaker.website.map { url => @websiteLink(url) }
            @speaker.company.map { company => @companyDisplay(company) }
        </p>
        <p class="text-secondary font-italic no-margin">
            @emailLink(speaker.email)
            @socialIcons(speaker.social)
        </p>
    </div>
</div>
