@import fr.gospeak.core.domain.{Group, Sponsor, SponsorPack, Partner}
@import fr.gospeak.web.api.ui.routes.SuggestCtrl
@import fr.gospeak.web.pages.partials.form.html._

@(form: Form[Sponsor.Data], group: Group, partner: Option[Partner], pack: Option[SponsorPack])(implicit messages: Messages)
@partner.map { p =>
    @inputHidden(form("partner"), Seq("value" -> p.id.value))
}.getOrElse {
    @fieldHorizontal(form("partner"), Seq("label" -> "Partner", "help" -> "The sponsoring partner")) { (field, args) =>
        @inputSelect(field, Seq(), Seq("placeholder" -> "", "remote" -> SuggestCtrl.suggestPartners(group.slug).toString) ++ args)
    }
}
@pack.map { p =>
    @inputHidden(form("pack"), Seq("value" -> p.id.value))
}.getOrElse {
    @fieldHorizontal(form("pack"), Seq("label" -> "Sponsor pack", "help" -> "What sponsoring pack was choosen")) { (field, args) =>
        @inputSelect(field, Seq(), Seq("placeholder" -> "", "remote" -> SuggestCtrl.suggestSponsorPacks(group.slug).toString) ++ args)
    }
}
@fieldHorizontal(form("contact"), Seq("label" -> "Contact", "help" -> "The contact for this sponsoring")) { (field, args) =>
    @inputSelect(field, Seq(), Seq(
        "placeholder" -> "",
        "optional" -> "true",
        "remote" -> SuggestCtrl.suggestContacts(group.slug, partner.map(_.id).getOrElse(Partner.Id.empty)).toString,
        "remote-replace" -> partner.map(_ => "").getOrElse(Partner.Id.empty.value + ":partner")) ++ args)
}
@fieldHorizontal(form("start"), Seq("label" -> "Period", "help" -> "Sponsoring period")) { (field, args) =>
    <div class="row">
        <div class="col">@inputLocalDate(field, Seq("placeholder" -> "ex: 14/07/2019") ++ args)</div>
        <div class="col">@inputLocalDate(form("finish"), Seq("placeholder" -> "ex: 14/07/2019") ++ args)</div>
    </div>
}
@fieldHorizontal(form("price"), Seq("label" -> "Price", "help" -> "The paid price (useful when pack price changes)")) { (field, args) =>
    @inputPrice(field, args)
}
@fieldHorizontal(form("paid"), Seq("label" -> "Paid", "help" -> "When the sponsoring was paid")) { (field, args) =>
    @inputLocalDate(field, Seq("placeholder" -> "ex: 14/07/2019") ++ args)
}
