@import fr.gospeak.core.domain.{Group, SponsorPack}
@import fr.gospeak.web.pages.orga.sponsors.routes.SponsorCtrl

@(group: Group, sponsorPack: SponsorPack)
<div class="list-group-item d-flex justify-content-between align-items-center @if(!sponsorPack.active) {list-group-item-light}">
    <div>
        @if(sponsorPack.active) {
            <a href="@SponsorCtrl.detail(group.slug, sponsorPack.slug)"><b>@sponsorPack.name.value</b></a>,
        } else {
            <a href="@SponsorCtrl.detail(group.slug, sponsorPack.slug)"><s class="text-muted">@sponsorPack.name.value</s></a>,
        }
        @sponsorPack.price.value for @sponsorPack.duration.value
    </div>
    @if(sponsorPack.active) {
        <div>
            <a href="@SponsorCtrl.create(group.slug, sponsorPack.slug)" class="btn btn-primary btn-sm">Add sponsor</a>
        </div>
    }
</div>
