@import fr.gospeak.core.domain.{Group, Partner, Sponsor, SponsorPack}
@import fr.gospeak.web.utils.Formats
@import fr.gospeak.web.pages.orga.partners.routes.PartnerCtrl

@(group: Group, sponsor: Sponsor, packs: Seq[SponsorPack], partners: Seq[Partner])
<div class="list-group-item">
    <h5 class="mb-1">@partners.find(_.id == sponsor.partner).map { p => <a href="@PartnerCtrl.detail(group.slug, p.slug)">@p.name.value</a> }.getOrElse {Unknown partner}</h5>
    <p class="mb-0">
        Pack <b>@packs.find(_.id == sponsor.pack).map(_.name.value).getOrElse("Unknown pack")</b>, from @Formats.date(sponsor.start) to @Formats.date(sponsor.finish)
    </p>
</div>
