@import fr.gospeak.core.domain.{Group, SponsorPack}
@import fr.gospeak.web.pages.partials.form.html._
@import fr.gospeak.web.utils.SecuredReq

@(form: Form[SponsorPack.Data], group: Group)(implicit req: SecuredReq[AnyContent])
@fieldHorizontal(form("name"), Seq("label" -> "Name", "help" -> "Name of the sponsoring pack")) { (field, args) =>
    @inputText(field, Seq("placeholder" -> "Pack name", "autofocus" -> "true") ++ args)
}
@fieldHorizontal(form("description"), Seq("label" -> "Description", "help" -> "Describe what this pack is about, what are its benefits and why a partner should subscribe to it")) { (field, args) =>
    @inputMarkdown(field, args)
}
@fieldHorizontal(form("price"), Seq("label" -> "Price", "help" -> "Standard price of this pack")) { (field, args) =>
    @inputPrice(field, args)
}
@fieldHorizontal(form("duration"), Seq("label" -> "Subscription period", "help" -> "Standard period of subscription for this pack")) { (field, args) =>
    @inputPeriod(field, args = args)
}
@fieldHorizontal(form("slug"), Seq("label" -> "Slug", "help" -> "Reference of the sponsor pack (in urls for example)")) { (field, args) =>
    @inputText(field, Seq("placeholder" -> "Sponsor pack slug", "slug-for" -> form("name").id) ++ args)
}
