@import fr.gospeak.core.domain.{Group, SponsorPack}
@import fr.gospeak.web.pages.orga.sponsors.routes.SponsorCtrl

@(group: Group, sponsorPack: SponsorPack)
<div class="list-group-item d-flex justify-content-between align-items-center @if(!sponsorPack.active) {list-group-item-light}">
    <div>
        <a href="@SponsorCtrl.detail(group.slug, sponsorPack.slug)"><b>@sponsorPack.name.value</b></a>, @sponsorPack.price.value for @sponsorPack.duration.value
    </div>
    <div>
        <a href="@SponsorCtrl.create(group.slug, sponsorPack.slug)" class="btn btn-primary btn-sm">Add sponsor</a>
    </div>
</div>
