@import java.time.Instant
@import fr.gospeak.core.domain.{Group, Partner, Sponsor, SponsorPack}
@import fr.gospeak.web.utils.Formats
@import fr.gospeak.web.pages.orga.partners.routes.PartnerCtrl

@(group: Group, sponsor: Sponsor, packs: Seq[SponsorPack], partners: Seq[Partner], now: Instant = Instant.now())
<div class="list-group-item d-flex justify-content-between align-items-center">
    @if(sponsor.isCurrent(now)) {
        <h5 class="mb-0">@partners.find(_.id == sponsor.partner).map { p => <a href="@PartnerCtrl.detail(group.slug, p.slug)">@p.name.value</a> }.getOrElse {Unknown partner}</h5>
    } else {
        <h5 class="mb-0">@partners.find(_.id == sponsor.partner).map { p => <a href="@PartnerCtrl.detail(group.slug, p.slug)"><s class="text-muted">@p.name.value</s></a> }.getOrElse {<s class="text-muted">Unknown partner</s>}</h5>
    }
    <p class="mb-0">
        Pack <b>@packs.find(_.id == sponsor.pack).map(_.name.value).getOrElse("Unknown pack")</b>, from @Formats.date(sponsor.start) to @Formats.date(sponsor.finish)
    </p>
</div>
