@import fr.gospeak.core.domain.{Partner, Venue}
@import fr.gospeak.web.api.ui.routes.SuggestCtrl
@import fr.gospeak.web.pages.partials.form.html._
@import fr.gospeak.web.utils.OrgaReq

@(form: Form[Venue.Data], hasMeetupAccount: Boolean, partner: Option[Partner])(implicit req: OrgaReq[AnyContent])
@fieldHorizontal(form("address"), Seq("label" -> "Address", "help" -> "Address of the venue")) { (field, args) =>
    @inputGMapPlace(field, Seq("autofocus" -> "true") ++ args)
}
@partner.map { p =>
    @inputHidden(form("partner"), Seq("value" -> p.id.value))
}.getOrElse {
    @fieldHorizontal(form("partner"), Seq("label" -> "Partner")) { (field, args) =>
        @inputSelect(field, Seq(), Seq("placeholder" -> "", "remote" -> SuggestCtrl.suggestPartners(req.group.slug).toString) ++ args)
    }
}
@fieldHorizontal(form("contact"), Seq("label" -> "Contact", "help" -> "The contact for this venue")) { (field, args) =>
    @inputSelect(field, Seq(), Seq(
        "placeholder" -> "",
        "optional" -> "true",
        "remote" -> SuggestCtrl.suggestContacts(req.group.slug, partner.map(_.id).getOrElse(Partner.Id.empty)).toString,
        "remote-replace" -> partner.map(_ => "").getOrElse(Partner.Id.empty.value + ":partner")) ++ args)
}
@fieldHorizontal(form("description"), Seq("label" -> "Description", "help" -> "Some details about this partner")) { (field, args) =>
    @inputMarkdown(field, args)
}
@fieldHorizontal(form("roomSize"), Seq("label" -> "Room size")) { (field, args) =>
    @inputNumber(field, args)
}
@if(hasMeetupAccount) {
    @fieldHorizontal(form("refs.meetup"), Seq("label" -> "Meetup reference", "help" -> "References of this venue in Meetup.com")) { (field, args) =>
        <div class="row">
            <div class="col-6">@inputText(field("group"), Seq("placeholder" -> "Group url name name", "optional" -> "true") ++ args)</div>
            <div class="col-6">@inputNumber(field("venue"), Seq("placeholder" -> "Venue id", "optional" -> "true") ++ args)</div>
        </div>
    }
}
