@import fr.gospeak.core.domain.{Group, Partner, Venue}
@import fr.gospeak.web.pages.orga.venues.routes.VenueCtrl

@(group: Group, partner: Partner, venue: Venue)
<a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="@VenueCtrl.detail(group.slug, venue.id)">
    <div>
        <h5 class="mb-1">@partner.name.value</h5>
        <p class="mb-1">@venue.address.value</p>
    </div>
    <img src="@partner.logo.value" alt="@partner.name.value logo" class="avatar avatar-lg">
</a>
