@import gospeak.core.domain.{Event, Proposal, User}
@import gospeak.core.domain.utils.Constants.Placeholders
@import gospeak.web.pages.orga.events.routes.EventCtrl
@import gospeak.web.pages.orga.cfps.proposals.routes.ProposalCtrl
@import gospeak.web.pages.orga.speakers.routes.SpeakerCtrl
@import gospeak.web.pages.orga.partners.routes.PartnerCtrl
@import gospeak.web.pages.partials.display.html._
@import gospeak.web.utils._

@(event: Event.Full, proposals: Seq[Proposal], speakers: Seq[User])(implicit req: OrgaReq[AnyContent])
<div class="card mb-3" @if(event.isPast(req.now)){style="opacity: 0.6;"}>
    <div class="card-body row">
        <div class="media col-lg-6">
            @event.venue.map { venue =>
                <a href="@PartnerCtrl.detail(req.group.slug, venue.partner.slug)" class="align-self-center">
                    <img class="u-avatar rounded-circle" src="@venue.partner.logo.value" alt="@venue.partner.name.value logo" title="@venue.partner.name.value" data-toggle="tooltip">
                </a>
            }.getOrElse {
                @req.group.logo.map { logo =>
                    <img class="u-avatar rounded-circle align-self-center" src="@logo.value" alt="@req.group.name.value logo" title="No venue yet" data-toggle="tooltip">
                }.getOrElse {
                    <img class="u-avatar rounded-circle align-self-center" src="@Placeholders.noVenueForEvent" alt="No venue icon" title="No venue yet" data-toggle="tooltip">
                }
            }
            <div class="media-body align-self-center ml-3">
                <h6 class="mb-0">
                    <a href="@EventCtrl.detail(req.group.slug, event.slug)" class="text-primary"><b>@event.name.value</b></a>
                    <span class="text-muted">@event.kind.icon</span>
                    @if(event.orgaNotes.isDefined) {
                        <span class="text-muted" data-toggle="html-popover" data-trigger="hover">
                            <span class="content" style="white-space: pre-line;">@event.orgaNotes.text</span>
                            <i class="far fa-file-alt"></i>
                        </span>
                    }
                    @event.refs.meetup.map { ref => <a href="@ref.link" target="_blank"><i class="fab fa-meetup"></i></a> }
                </h6>
                <p class="font-size-1 mb-0">
                    @if(event.isPast(req.now)) {
                        <s class="text-primary">@event.start.asDate</s>
                    } else {
                        <span class="text-primary">@event.start.asDate</span>
                    }
                    @if(event.allowRsvp) {
                        @event.maxAttendee.map { max => <span class="text-primary">@max.plural("place")</span> }
                    }
                    @if(!event.isPublic) {
                        <span class="badge badge-pill badge-secondary">Draft</span>
                    }
                </p>
            </div>
        </div>
        <div class="col-lg-6 mt-lg-0 mt-3">
            @if(event.talks.nonEmpty) {
                <ol class="no-padding mb-0">
                    @event.talks.flatMap(id => proposals.find(_.id == id)).map { p =>
                        <li>
                            @event.cfp.map { c => <a href="@ProposalCtrl.detail(req.group.slug, c.slug, p.id)">@p.title.value</a> }.getOrElse { <a href="#">@p.title.value</a> }
                            by @avatars(p.speakers, speakers, Some(u => SpeakerCtrl.detail(req.group.slug, u.slug)), "u-xs-avatar")
                        </li>
                    }
                </ol>
            } else {
                No talks planned
            }
        </div>
    </div>
</div>
