@import gospeak.core.domain.{Proposal, User}
@import gospeak.web.pages.orga.cfps.proposals.routes.ProposalCtrl
@import gospeak.web.pages.orga.events.routes.EventCtrl
@import gospeak.web.pages.orga.speakers.routes.SpeakerCtrl
@import gospeak.web.pages.partials.display.html._
@import gospeak.web.utils.{Formats, OrgaReq}

@(proposal: Proposal.Full, speakers: Seq[User], userRatings: Seq[Proposal.Rating])(implicit req: OrgaReq[AnyContent])
<div class="list-group-item d-flex justify-content-between align-items-center pl-5">
    <div class="">
        <div class="row align-items-center">
            <div class="d-flex align-items-center mb-1">
                <span class="mr-2">@proposalStatusIcon(proposal.status)</span>
                @proposalRating(proposal, userRatings.find(_.proposal == proposal.id).map(_.grade), "badge mr-1")
            </div>
            <h5 class="mb-1">
                <a class="ml-2" href="@ProposalCtrl.detail(req.group.slug, proposal.cfp.slug, proposal.id)">@proposal.title.value</a>
                @proposal.event.map { event => <small>given at <a href="@EventCtrl.detail(req.group.slug, event.slug)" title="on @Formats.date(event.start)">@event.name.value</a></small> }
            </h5>
        </div>

        <div class="ml-2">
            @duration(proposal.duration)
            @slidesIcon(proposal.slides)
            @videoIcon(proposal.video)
            @commentsIcon(proposal.speakerCommentCount, proposal.speakerLastComment, "speaker")
            @commentsIcon(proposal.orgaCommentCount, proposal.orgaLastComment, "orga")

            @tags(proposal.tags)
            @tags(proposal.orgaTags, color="info", title="orga tag")
            <small>Proposed on @Formats.date(proposal.info.createdAt)</small>
        </div>
    </div>
    @avatars(proposal.speakers, speakers, Some(u => SpeakerCtrl.detail(req.group.slug, u.slug)), "u-avatar")
</div>
