@import gospeak.core.domain.User
@import gospeak.web.pages.orga.speakers.routes.SpeakerCtrl
@import gospeak.web.pages.partials.display.html._
@import gospeak.web.utils._

@(speaker: User.Full)(implicit req: OrgaReq[AnyContent])
<div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
    <div>
        <img src="@speaker.avatar.url.value" alt="@speaker.name.value avatar" class="avatar avatar-list">
    </div>
    <div class="col-11">
        <a href="@SpeakerCtrl.detail(req.group.slug, speaker.slug)" class="no-style"><h5 class="mb-0">@speaker.name.value</h5></a>
        <p class="text-secondary font-italic no-margin">
            @speaker.website.map(_.asWebsiteItemLink)
            @speaker.company.map(_.asCompanyItem)
        </p>
        <p class="text-secondary font-italic no-margin">
            @speaker.email.asItemLink
            @socialIcons(speaker.social)
        </p>
    </div>
</div>
