@import gospeak.core.domain.{Sponsor, SponsorPack, Partner}
@import gospeak.web.api.ui.routes.SuggestCtrl
@import gospeak.web.pages.partials.form.html._
@import gospeak.web.utils.OrgaReq

@(form: Form[Sponsor.Data], partner: Option[Partner], pack: Option[SponsorPack])(implicit req: OrgaReq[AnyContent])
@partner.map { p =>
    @inputHidden(form("partner"), List("value" -> p.id.value))
}.getOrElse {
    @fieldHorizontal(form("partner"), List("label" -> "Partner", "help" -> "The sponsoring partner")) { (field, args) =>
        @inputSelect(field, List(), List("placeholder" -> "", "remote" -> SuggestCtrl.suggestPartners(req.group.slug).toString) ++ args)
    }
}
@pack.map { p =>
    @inputHidden(form("pack"), List("value" -> p.id.value))
}.getOrElse {
    @fieldHorizontal(form("pack"), List("label" -> "Sponsor pack", "help" -> "What sponsoring pack was choosen")) { (field, args) =>
        @inputSelect(field, List(), List("placeholder" -> "", "remote" -> SuggestCtrl.suggestSponsorPacks(req.group.slug).toString) ++ args)
    }
}
@fieldHorizontal(form("contact"), List("label" -> "Contact", "help" -> "The contact for this sponsoring")) { (field, args) =>
    @inputSelect(field, List(), List(
        "placeholder" -> "",
        "optional" -> "true",
        "remote" -> SuggestCtrl.suggestContacts(req.group.slug, partner.map(_.id).getOrElse(Partner.Id.empty)).toString,
        "remote-replace" -> partner.map(_ => "").getOrElse(Partner.Id.empty.value + ":partner")) ++ args)
}
@fieldHorizontal(form("start"), List("label" -> "Period", "help" -> "Sponsoring period")) { (field, args) =>
    <div class="row">
        <div class="col">@inputLocalDate(field, List("placeholder" -> "ex: 14/07/2019") ++ args)</div>
        <div class="col">@inputLocalDate(form("finish"), List("placeholder" -> "ex: 14/07/2019") ++ args)</div>
    </div>
}
@fieldHorizontal(form("price"), List("label" -> "Price", "help" -> "The paid price (useful when pack price changes)")) { (field, args) =>
    @inputPrice(field, args)
}
@fieldHorizontal(form("paid"), List("label" -> "Paid", "help" -> "When the sponsoring was paid")) { (field, args) =>
    @inputLocalDate(field, List("placeholder" -> "ex: 14/07/2019") ++ args)
}
