@import gospeak.core.domain.{Comment, User}
@import gospeak.web.auth.routes.AuthCtrl
@import gospeak.web.pages.partials.form.html._
@import gospeak.web.pages.published.routes.UtilsCtrl
@import gospeak.web.utils._

@(comments: List[Comment.Full], sendComment: Call, pageUrl: Call, userProfile: User => Option[Call], tabindex: Int = 10)(implicit req: UserAwareReq[AnyContent])
<div class="comment-section">
    <div class="comment-submit">
        @req.user.map { user =>
            @formElt(GsForms.comment, sendComment) {
                <div class="media">
                    <img class="u-avatar rounded-circle mr-3" src="@user.avatar.url.value" alt="@user.name.value avatar">
                    <div class="media-body">
                        <h5 class="d-flex justify-content-between align-items-center">
                            @user.name.value
                            <button type="submit" class="btn btn-primary btn-sm" tabindex="@{tabindex + 1}">Send</button>
                        </h5>
                        @inputTextarea(GsForms.comment("text"), List("placeholder" -> "Add comment...", "tabindex" -> tabindex.toString, "value" -> req.getOrElseFlash("text", "")))
                    </div>
                </div>
            }
        }.getOrElse {
            <a href="@AuthCtrl.login(redirect = Some(pageUrl.toString))" class="btn btn-success">Login to comment</a>
        }
    </div>
    @if(comments.nonEmpty) {
        @comments.sortBy(-_.createdAt.getEpochSecond).map { comment =>
            <div class="media mt-3">
                @userProfile(comment.createdBy).map { url =>
                    <a href="@url"><img class="u-avatar rounded-circle" src="@comment.createdBy.avatar.url.value" alt="@comment.createdBy.name.value avatar"></a>
                }.getOrElse {
                    <img class="u-avatar rounded-circle" src="@comment.createdBy.avatar.url.value" alt="@comment.createdBy.name.value avatar">
                }
                <div class="media-body ml-3">
                    <div class="d-flex justify-content-between align-items-center">
                        @userProfile(comment.createdBy).map { url =>
                            <a href="@url" class="no-style" data-hovercard="@UtilsCtrl.hovercardUser(comment.createdBy.slug)">@comment.createdBy.name.value</a>
                        }.getOrElse {
                            <span data-hovercard="@UtilsCtrl.hovercardUser(comment.createdBy.slug)">@comment.createdBy.name.value</span>
                        }
                        <small class="text-muted">@comment.createdAt.asTimeAgo</small>
                    </div>
                    <p class="mb-0" style="white-space: pre-line;">@comment.text</p>
                </div>
            </div>
        }
    }
</div>
