@import gospeak.libs.scala.domain.Page
@import gospeak.libs.sql.dsl.Table.Sort

@(page: Page[_], link: Page.Params => Call, sorts: List[Sort])
@if(sorts.nonEmpty) {
    Sort by: @sorts.map { sort =>
        @page.params.sorts.headOption match {
            case Some(s) if s == sort.slug => {<a class="badge badge-success" href="@link(page.params.orderBy(sort.desc))"><i class="fas fa-arrow-down"></i> @sort.label</a>}
            case Some(s) if s == sort.desc => {<a class="badge badge-danger" href="@link(page.params.orderBy(sort.slug))"><i class="fas fa-arrow-up"></i> @sort.label</a>}
            case Some(_) => {<a class="badge badge-secondary" href="@link(page.params.orderBy(sort.slug))">@sort.label</a>}
            case None => {<a class="badge badge-secondary" href="@link(page.params.orderBy(sort.slug))">@sort.label</a>}
        }
    }
}
