@import fr.gospeak.core.domain.Group
@import fr.gospeak.web.pages.orga.settings.routes.SettingsCtrl
@import fr.gospeak.web.utils.OrgaReq

@(settings: Group.Settings)(implicit req: OrgaReq[AnyContent])
<div class="card mb-3">
    @if(settings.actions.isEmpty) {
        <div class="card-header">Actions</div>
        <div class="card-body text-center">
            <h5 class="card-title">Want to automate your group?</h5>
            <p class="card-text">
                Actions are here for you to perform some tasks when something happen using active integrations</p>
            <a class="btn btn-success" href="@SettingsCtrl.createAction(req.group.slug)">Create your first action</a>
        </div>
    } else {
        <div class="card-header d-flex justify-content-between align-items-center">
            <span>Actions</span>
            <a class="btn btn-success btn-sm" href="@SettingsCtrl.createAction(req.group.slug)">Create</a>
        </div>
        <div class="list-group list-group-flush">
        @settings.actions.map { case (trigger, actions) =>
        <div class="list-group-item">
            <h4 class="mb-0 px-3">@trigger.name</h4>
            <div>@actions.zipWithIndex.map { case (action, i) => @actionItem(trigger, i, action, settings.accounts) }</div>
        </div>
        }
        </div>
    }
</div>
