@import fr.gospeak.web.pages.partials.form.html._
@import fr.gospeak.web.utils.SecuredReq

@(field: Field, templateTarget: String)(implicit req: SecuredReq[AnyContent])
@inputHidden(field("kind"), Seq("value" -> "Slack.PostMessage"))
@fieldVertical(field("channel"), Seq("label" -> "Channel", "help" -> "Which channel should be used")) { (field, args) =>
    @inputTemplate(field, target = Some(templateTarget), multiline = false)
}
@fieldVertical(field("message"), Seq("label" -> "Message", "help" -> "What message to send")) { (field, args) =>
    @inputTemplate(field, target = Some(templateTarget))
}
@fieldCheckbox(field("createdChannelIfNotExist"), Seq("label" -> "Create channel if it does not exist")) { (field, args) =>
    @inputCheckbox(field, args)
}
@fieldCheckbox(field("inviteEverybody"), Seq("label" -> "Invite everyone when create the channel")) { (field, args) =>
    @inputCheckbox(field, args)
}
