@import com.mohiva.play.silhouette.api.actions.SecuredRequest
@import fr.gospeak.core.domain.Group
@import fr.gospeak.core.services.slack.domain.SlackAction
@import fr.gospeak.web.auth.domain.CookieEnv
@import fr.gospeak.web.pages.partials.form.html._
@import fr.gospeak.web.pages.orga.settings.routes.SettingsCtrl

@(group: Group, trigger: Group.Settings.Action.Trigger, index: Int, action: Group.Settings.Action, accounts: Group.Settings.Accounts)(implicit req: SecuredRequest[CookieEnv, AnyContent], messages: Messages)
@action match {
    case Group.Settings.Action.Slack(a: SlackAction.PostMessage) => {
        <div class="media ml-3 mt-1">
            <div class="media-body">
                <h5 class="mb-0 d-flex justify-content-between align-items-center">
                    <span>
                        Post Slack message
                        @if(accounts.slack.isEmpty) {<span class="badge badge-warning" title="Enable the Slack integration to activate it">Disabled</span>}
                    </span>
                    <span>
                        <a href="@SettingsCtrl.updateAction(group.slug, trigger, index)" class="btn btn-primary btn-sm">Update</a>
                        @formBtn(SettingsCtrl.doRemoveAction(group.slug, trigger, index), Seq("class" -> "btn-danger btn-sm")) {Remove}
                    </span>
                </h5>
                <p class="mb-0 ml-3">Channel: @a.channel.value</p>
                <p class="mb-0 ml-3">Message: @a.message.value</p>
                @if(a.createdChannelIfNotExist || a.inviteEverybody) {
                    <p class="mb-0 ml-3">
                        @if(a.createdChannelIfNotExist) {
                            <span class="badge badge-primary">Create channel if not exist</span>
                        }
                        @if(a.inviteEverybody) {
                            <span class="badge badge-primary">Invite everybody in the channel</span>
                        }
                    </p>
                }
            </div>
        </div>
    }
    case _ => {
        <div class="media ml-3 mt-1">
            <div class="media-body">
                <h5 class="mb-0">Unhandled action</h5>
                <p class="mb-0 ml-3">@action</p>
            </div>
        </div>
    }
}
