@import gospeak.core.domain.Group
@import gospeak.core.services.slack.domain.SlackAction
@import fr.gospeak.web.pages.partials.form.html._
@import fr.gospeak.web.pages.orga.settings.routes.SettingsCtrl
@import fr.gospeak.web.utils.OrgaReq

@(trigger: Group.Settings.Action.Trigger, index: Int, action: Group.Settings.Action, accounts: Group.Settings.Accounts)(implicit req: OrgaReq[AnyContent])
@action match {
    case Group.Settings.Action.Slack(a: SlackAction.PostMessage) => {
        <div class="media ml-3 mt-1">
            <div class="media-body p-2">
                <h5 class="mb-0 d-flex justify-content-between align-items-center">
                    <span>
                        Post Slack message
                        @if(accounts.slack.isEmpty) {<span class="badge badge-warning" title="Enable the Slack integration to activate it">Disabled</span>}
                    </span>
                    <span>
                        <a href="@SettingsCtrl.updateAction(req.group.slug, trigger, index)" class="btn btn-primary btn-xs mr-1">Update</a>
                        @formBtn(SettingsCtrl.doRemoveAction(req.group.slug, trigger, index), Seq("class" -> "btn-danger btn-xs mr-1")) {Remove}
                    </span>
                </h5>
                <p class="mb-0 ml-3">Channel: @a.channel.value</p>
                <p class="mb-0 ml-3">Message: @a.message.value</p>
                @if(a.createdChannelIfNotExist || a.inviteEverybody) {
                    <p class="mb-0 ml-3">
                        @if(a.createdChannelIfNotExist) {
                            <span class="badge badge-primary">Create channel if not exist</span>
                        }
                        @if(a.inviteEverybody) {
                            <span class="badge badge-primary">Invite everybody in the channel</span>
                        }
                    </p>
                }
            </div>
        </div>
    }
    case a: Group.Settings.Action.Email => {
        <div class="media ml-3 mt-1">
            <div class="media-body">
                <h5 class="mb-0 d-flex justify-content-between align-items-center">
                    <span>Send email</span>
                    <span>
                        <a href="@SettingsCtrl.updateAction(req.group.slug, trigger, index)" class="btn btn-primary btn-xs mr-1">Update</a>
                        @formBtn(SettingsCtrl.doRemoveAction(req.group.slug, trigger, index), Seq("class" -> "btn-danger btn-xs mr-1")) {Remove}
                    </span>
                </h5>
                <p class="mb-0 ml-3">To: @a.to.value</p>
                <p class="mb-0 ml-3">Subject: @a.subject.value</p>
                <p class="mb-0 ml-3">Content: @a.content.value</p>
            </div>
        </div>
    }
    case _ => {
        <div class="media ml-3 mt-1">
            <div class="media-body">
                <h5 class="mb-0">Unhandled action</h5>
                <p class="mb-0 ml-3">@action</p>
            </div>
        </div>
    }
}
