@import com.mohiva.play.silhouette.api.actions.SecuredRequest
@import fr.gospeak.core.domain.Group
@import fr.gospeak.core.domain.utils.TemplateData
@import fr.gospeak.libs.scalautils.domain.MarkdownTemplate
@import fr.gospeak.web.auth.domain.CookieEnv

@(group: Group, settings: Group.Settings.Event, eventSettings: Form[MarkdownTemplate[TemplateData.EventInfo]])(implicit req: SecuredRequest[CookieEnv, AnyContent], messages: Messages)
<div class="card mb-3">
    <div class="card-header">Event settings</div>
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted d-flex justify-content-between align-items-center">
            <span>Default description</span>
            <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#eventModalDescription">Update</button>
        </h6>
        <p class="card-text" style="white-space: pre-line; max-height: 114px; overflow: hidden;">@settings.defaultDescription.value</p>
    </div>
    @modalEventDescription("eventModalDescription", group, eventSettings)
</div>
