@import fr.gospeak.core.domain.Group
@import fr.gospeak.web.pages.orga.settings.routes.SettingsCtrl
@import fr.gospeak.web.pages.partials.form.html._
@import fr.gospeak.web.utils.SecuredReq

@(group: Group, settings: Group.Settings.Event)(implicit req: SecuredReq[AnyContent])
<div class="card mb-3">
    <div class="card-header">Event settings</div>
    <div class="card-body">
        <h6 class="card-title mb-0 text-muted d-flex justify-content-between align-items-center">
            <span>Templates</span>
            <a href="@SettingsCtrl.updateEventTemplate(group.slug, None)" class="btn btn-success btn-xs">Add</a>
        </h6>
    </div>
    <ul class="list-group list-group-flush">
    @settings.allTemplates.map { case (id, isDefault, template) =>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>@id</span>
        <span>
            @if(!isDefault) {
                @formBtn(SettingsCtrl.doRemoveEventTemplate(group.slug, id), Seq(
                    "class" -> "btn btn-danger btn-xs",
                    "title" -> "Delete this template",
                    "confirm" -> s"Delete template '$id'?")) {Delete}
            }
            <a
            href="@SettingsCtrl.updateEventTemplate(group.slug, Some(id))"
            class="btn btn-primary btn-xs"
            data-toggle="html-popover"
            data-trigger="hover">
                <div class="content" style="white-space: pre-line;
                    width: 500px">@template.value.take(1000)</div>
        Update </a>
    </span>
    </li>
    }
    </ul>
</div>
