@import com.mohiva.play.silhouette.api.actions.SecuredRequest
@import fr.gospeak.core.domain.Group
@import fr.gospeak.core.services.slack.domain.SlackCredentials
@import fr.gospeak.web.auth.domain.CookieEnv
@import fr.gospeak.web.pages.orga.settings.routes.SettingsCtrl
@import fr.gospeak.web.pages.orga.settings.SettingsForms.MeetupAccount

@(group: Group, accounts: Group.Settings.Accounts, meetupForm: Form[MeetupAccount], slackForm: Form[SlackCredentials])(implicit req: SecuredRequest[CookieEnv, AnyContent], messages: Messages)
<div class="card mb-3">
    <div class="card-header">Integrations</div>
    <div class="list-group list-group-flush">
        @displayIntegration("Meetup", accounts.meetup, id => modalMeetup(id, group, meetupForm, accounts.meetup), SettingsCtrl.removeAccount(group.slug, "meetup"))
        @displayIntegration("Slack", accounts.slack, id => modalSlack(id, group, slackForm), SettingsCtrl.removeAccount(group.slug, "slack"))
        @* displayIntegration("Twitter", accounts.twitter, id => modalTwitter(), SettingsCtrl.removeAccount(group.slug, "twitter")) *@
        @* displayIntegration("YouTube", accounts.youtube, id => modalYoutube(), SettingsCtrl.removeAccount(group.slug, "youtube")) *@
    </div>
</div>
