@import com.mohiva.play.silhouette.api.actions.SecuredRequest
@import fr.gospeak.core.domain.Group
@import fr.gospeak.web.auth.domain.CookieEnv
@import fr.gospeak.web.pages.orga.settings.SettingsForms.AddAction
@import fr.gospeak.web.pages.orga.settings.routes.SettingsCtrl

@(group: Group, settings: Group.Settings, addAction: Form[AddAction])(implicit req: SecuredRequest[CookieEnv, AnyContent], messages: Messages)
<div class="card mb-3">
    @if(settings.actions.isEmpty) {
        <div class="card-header">Actions</div>
        <div class="card-body text-center">
            <h5 class="card-title">Want to automate your group?</h5>
            <p class="card-text">
                Actions are here for you to perform some tasks when something happen using active integrations</p>
            <button class="btn btn-success" data-toggle="modal" data-target="#actionModal">
                Create your first action</button>
        </div>
    } else {
        <div class="card-header d-flex justify-content-between align-items-center">
            <span>Actions</span>
            <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#actionModal">Add</button>
        </div>
        <div class="list-group list-group-flush">
        @settings.actions.map { case (trigger, actions) =>
        <div class="list-group-item">
            <h4 class="mb-0">@trigger.name</h4>
            <div>@actions.zipWithIndex.map { case (action, i) => @displayAction(action, settings.accounts, SettingsCtrl.removeAction(group.slug, trigger, i)) }</div>
        </div>
        }
        </div>
    }
    @modalAction("actionModal", group, addAction)
</div>
