@import fr.gospeak.web.domain.{Breadcrumb, HeaderInfo}

@(title: String, h: HeaderInfo, b: Option[Breadcrumb] = None)(style: Html = Html(""))(content: Html)(script: Html = Html(""))(implicit flash: Flash)
@alert(kind: String, msg: String) = {
    <div class="alert alert-@kind alert-dismissible fade show" role="alert">
        @msg
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@main(title, style, script) {
    @header(h)
    @b.map { b => @breadcrumb(b) }
    <div class="container">
        @flash.get("success").map { msg => @alert("success", msg) }
        @flash.get("info").map { msg => @alert("info", msg) }
        @flash.get("warning").map { msg => @alert("warning", msg) }
        @flash.get("error").map { msg => @alert("danger", msg) }
        @content
    </div>
}
