@import fr.gospeak.core.domain.utils.Page

@(page: Page[_], action: Call)
<form method="@action.method" action="@action" class="form-inline">
    @page.params.sortBy.filter(_.nonEmpty).map { p => <input type="hidden" name="@p.key" value="@p.value"> }
    @Some(page.params.pageSize).filter(_.nonEmpty).map { p => <input type="hidden" name="@p.key" value="@p.value"> }
    <label class="sr-only" for="@Page.Search.key">Search</label>
    <div class="input-group">
        <input type="text" class="form-control" id="@Page.Search.key" name="@Page.Search.key" value="@page.params.search.map(_.value)" placeholder="Search...">
        <div class="input-group-append">
            <button type="submit" class="btn btn-secondary">Search</button>
        </div>
    </div>
</form>
