@import com.mohiva.play.silhouette.api.actions.SecuredRequest
@import fr.gospeak.web.auth.domain.CookieEnv
@import fr.gospeak.web.auth.routes.AuthCtrl
@import fr.gospeak.web.domain.{Breadcrumb, HeaderInfo}
@import fr.gospeak.web.partials.form.html._

@(title: String, h: HeaderInfo, b: Option[Breadcrumb] = None)(style: Html = Html(""))(content: Html)(script: Html = Html(""))(implicit req: SecuredRequest[CookieEnv, AnyContent], messages: Messages)
@alert(kind: String, classes: String = "")(msg: Html) = {
    <div class="alert alert-@kind alert-dismissible fade show @classes" role="alert">
        @msg
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@main(title, style, script) {
    @header(h)
    @b.map { b => @breadcrumb(b) }
    <div class="container">
        @if(req.identity.user.emailValidated.isEmpty) {
            @alert("warning", "d-flex justify-content-between") {
                <span class="align-self-center">Your email is not validated, please click on the validation link in the signup email</span>
                @formBtn(AuthCtrl.accountValidation(), Seq("class" -> "btn-sm btn-secondary")) {Resend validation email}
            }
        }
        @req.flash.get("success").map { msg => @alert("success")(Html(msg)) }
        @req.flash.get("info").map { msg => @alert("info")(Html(msg)) }
        @req.flash.get("warning").map { msg => @alert("warning")(Html(msg)) }
        @req.flash.get("error").map { msg => @alert("danger")(Html(msg)) }
        @content
    </div>
}
