@import fr.gospeak.core.domain.{Cfp, Event, Proposal, Talk}
@import fr.gospeak.web.partials.display.html._
@import fr.gospeak.web.pages.speaker.proposals.routes.ProposalCtrl
@import fr.gospeak.web.utils.Formats

@(talk: Talk, cfp: Cfp, proposal: Proposal, events: Seq[Event])
@eventinfo(id: Event.Id) = {
    @events.find(_.id == id).map { e => (@e.name.value - @Formats.date(e.start)) }.getOrElse { Unknown event @id.value }
}
<a href="@ProposalCtrl.detail(talk.slug, proposal.id)" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">@cfp.name.value @proposal.event.map { id => @eventinfo(id) }</h5>
        <div>@proposalStatus(proposal.status)</div>
    </div>
    <div class="d-flex w-100 justify-content-between">
        <p class="mb-1">
            Title: @proposal.title.value
            @if(proposal.duration != talk.duration) {
                @duration(proposal.duration, Some("Proposal duration"))
            }
        </p>
        <small title="Proposal date">@Formats.date(proposal.info.created)</small>
    </div>
</a>
