@import java.time.Instant

@import fr.gospeak.core.domain.{Event, Group}
@import fr.gospeak.web.partials.display.html.date
@import fr.gospeak.web.user.groups.events.routes.EventCtrl

@(group: Group, event: Event)
<a href="@EventCtrl.detail(group.slug, event.slug)" class="list-group-item list-group-item-action @if(event.start.isAfter(Instant.now())) {list-group-item-secondary}">
    <h5 class="mb-1">@event.name.value</h5>
    @date(event.start),
    @event.venue.map { v => @v, }.getOrElse {
        <b class="text-danger">Missing venue</b>,
    }
    @event.talks.length planned talks
</a>
