@import java.time.LocalDateTime

@import fr.gospeak.core.domain.{Event, Group, Proposal, User, Cfp}
@import fr.gospeak.web.utils.Formats
@import fr.gospeak.web.partials.display.html._
@import fr.gospeak.web.user.groups.events.routes.EventCtrl
@import fr.gospeak.web.user.groups.cfps.proposals.routes.ProposalCtrl
@import fr.gospeak.web.user.groups.speakers.routes.SpeakerCtrl

@(group: Group, event: Event, proposals: Seq[Proposal], speakers: Seq[User])
<div class="list-group-item @if(event.start.isAfter(LocalDateTime.now())) {list-group-item-secondary}">
    <h5 class="mb-1"><a href="@EventCtrl.detail(group.slug, event.slug)">@event.name.value</a></h5>
    @Formats.date(event.start),
    @event.venue.map { v => @v.format, }.getOrElse { <b class="text-danger">Missing venue</b>, }
    @event.talks.length planned talks
    @if(event.talks.nonEmpty) {
        <ol>
        @event.talks.map { pId =>
            <li>
                @proposals.find(_.id == pId).map { p =>
                    <span>@p.title.value</span>
                    @p.speakers.toList.map { uId => @speakerAvatar(speakers, uId, Some(u => SpeakerCtrl.detail(group.slug, u.slug))) }
                }.getOrElse { Unknown (@pId.value) }
            </li>
        }
        </ol>
    }
</div>
