[data-toggle="collapse"] {
  cursor: pointer;
}

.eventbrite-icon {
  width: 1em;
  height: 1em;
  vertical-align: text-top;
  margin: 1px 0 0 0;
}

a.no-style,
.badge > a {
  color: inherit;
}

.btn-form {
  display: inline;
}

.btn-form > .btn.no-style,
.badge > .btn-form > .btn {
  display: inline;
  background: none;
  border: none;
  padding: 0;
  line-height: 1;
  color: inherit;
  font-size: inherit;
}

.avatar {
  height: 31px;
  min-width: 31px;
  border-radius: 0.25em;
}

.avatar.avatar-list {
  height: 70px;
  min-width: 71px;
  border-radius: 50%;
}

.card .avatar-lg {
  max-width: 200px;
  width: 100%;
  border-radius: 50%;
}

.markdown {
  margin-bottom: 1rem;
}

.markdown p:last-child,
.markdown ul:last-child {
  margin-bottom: 0;
}

.no-margin {
  margin: 0;
  padding: 0;
}
