[data-toggle="collapse"] {
  cursor: pointer;
}

.eventbrite-icon {
  width: 1em;
  height: 1em;
  vertical-align: text-top;
  margin: 1px 0 0 0;
}

a.no-style,
.badge > a {
  color: inherit;
}

.btn-form {
  display: inline;
}

.btn-form > .btn.no-style,
.badge > .btn-form > .btn {
  display: inline;
  background: none;
  border: none;
  padding: 0;
  line-height: 1;
  color: inherit;
  font-size: inherit;
}
