@import "variables";

@mixin envStyles($color, $text) {
  .navbar-brand {
    position: relative;
    color: $color;

    &:hover, &:focus {
      color: darken($color, 20%);
    }

    &:after {
      position: absolute;
      top: -10px;
      left: 0;
      font-size: 1rem;
      color: $color;
      content: $text;
    }
  }
}

html.Local {
  @include envStyles($local-color, "Local env");
}

html.Dev {
  @include envStyles($dev-color, "Dev env");
}
