@import "variables";

h5.test {
  color: $primary-color;
}

/* Bootstrap overrides/extensions */

.text-capitalize {
  text-transform: none !important;
}

.text-capitalize::first-letter {
  text-transform: uppercase;
}

.breadcrumb-container {
  background-color: #e9ecef;
}

a.card {
  color: inherit;
}

a.card:hover {
  text-decoration: inherit;
}

.card-header .btn-sm,
.card-header .input-group-sm {
  margin-top: -3px;
  margin-bottom: -4px;
}

.card-body p:last-child,
.card-body h5:last-child,
.card-body .markdown:last-child,
.card-body .form-group:last-child {
  margin-bottom: 0;
}

.list-group-item ul,
.list-group-item ol {
  margin-bottom: 0;
}

.list-group-item.inactive a {
  color: #6c757d;
}

.is-invalid .invalid-feedback,
.form-row.is-invalid ~ .invalid-feedback {
  display: block;
}

.pagination {
  margin-bottom: 0;
}

.navbar-nav .nav-item i.fas {
  font-size: 1.3em;
  vertical-align: middle;
}

.btn-xs {
  padding: 0.15rem 0.4rem;
  font-size: 0.7rem;
  line-height: 1.4;
  border-radius: 0.2rem;
}

.select2-container--bootstrap .select2-selection--single {
  height: 38px;
  padding: 8px 24px 8px 12px;
}

.input-group > .input-group-prepend ~ .hideShowPassword-wrapper > .form-control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.popover {
  max-width: 600px;
}

.tt-header {
  padding: 3px 10px;
}

span.twitter-typeahead .tt-suggestion.tt-cursor,
span.twitter-typeahead .tt-suggestion.tt-cursor:hover {
  color: inherit;
  background-color: #f5f5f5;
}

[data-toggle="collapse"] {
  cursor: pointer;
}

/* My styles */

.x-small {
  font-size: 60%;
  font-weight: 300;
}

.footer {
  margin-top: 20px;
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

.btn-form {
  display: inline;
}

.btn-form .btn.no-style {
  display: inline;
  background: none;
  border: none;
  padding: 0;
  line-height: 1;
  color: inherit;
  font-size: inherit;
}

.badge a {
  color: inherit;
}

.badge a:hover {
  text-decoration: none;
}

.avatar {
  height: 31px;
  min-width: 31px;
  border-radius: 0.25em;
}

.avatar.avatar-lg {
  max-width: 50px;
}

.avatar.avatar-list {
  height: 70px;
  min-width: 71px;
  border-radius: 50%;
}

.card .avatar-lg {
  max-width: 200px;
  width: 100%;
  border-radius: 50%;
}

.media .avatar {
  height: 100px;
  min-width: 100px;
}

.dropdown .avatar {
  max-width: 21px;
}

.markdown {
  margin-bottom: 1rem;
}

.markdown p:last-child,
.markdown ul:last-child {
  margin-bottom: 0;
}

.markdown-editor .tab-content {
  margin-top: 5px;
}

.quote {
  border-left: 7px;
  border-left-color: #e9ecef;
  border-left-style: solid;
  margin-left: 5px;
  padding-left: 10px;
}

.login {
  width: 500px;
  margin: auto;
  margin-top: 50px;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}

.home-title {
  text-align: center;
  margin: 50px auto;
}

a.no-style {
  color: inherit;
}

.no-margin {
  margin: 0;
  padding: 0;
}

.event-item,
.proposal-item {
  padding: 10px;
}

.group-item h5 a:not(.btn),
.event-item h5 a:not(.btn),
.proposal-item h5 a:not(.btn),
.talk-item h5 a:not(.btn) {
  color: inherit;
}

.comment-section {
  .avatar {
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .comment-list {
    .comment {
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-radius: 0.25rem;
      padding: 1rem;
      margin-bottom: 1rem;

      .text {
        white-space: pre-line;
      }
    }
  }
}
