@import fr.gospeak.core.domain.{Group, Proposal}
@import fr.gospeak.web.user.groups.proposals.routes.ProposalCtrl
@import fr.gospeak.web.user.groups.proposals.views.html.partials.item
@import fr.gospeak.web.views.domain.{Breadcrumb, HeaderInfo}
@import fr.gospeak.web.views.html.partials.{container, pagination, search}

@(group: Group, proposals: Seq[Proposal])(h: HeaderInfo, b: Breadcrumb)
@container("Gospeak", h, Some(b)) {
    <div>
        <h1>@proposals.length proposals</h1>
    </div>

    @search(ProposalCtrl.list(group.slug.value))
    @pagination(p => ProposalCtrl.list(group.slug.value, page = Some(p)))

    <ul class="list-unstyled">
    @proposals.map { p => @item(group, p) }
    </ul>

    @pagination(p => ProposalCtrl.list(group.slug.value, page = Some(p)))
}
