@import fr.gospeak.web.pages.partials.container.html.{flash, main}
@import fr.gospeak.web.pages.published.routes.HomeCtrl

@(title: String)(style: Html = Html(""))(content: Html)(script: Html = Html(""))(implicit req: Request[AnyContent], messages: Messages)
@main(title, style, script) {
    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="@HomeCtrl.index()">Gospeak</a>
        </div>
    </nav>
    <div class="container">
        @flash(req.flash)
        @content
    </div>
}
