@import fr.gospeak.web.pages.partials.container.html.{flash, main_theme}
@import fr.gospeak.web.utils.UserAwareReq

@(title: String)(style: Html = Html(""))(content: Html)(script: Html = Html(""))(implicit req: UserAwareReq[AnyContent])
@main_theme(title, "published_theme.css", style, script) {
<main>
    <div class="d-flex align-items-center position-relative height-lg-100vh">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-8 col-lg-7 col-xl-6 offset-md-2 offset-lg-2 offset-xl-3 space-3 space-lg-0">
                    @flash(req.flash)
                    @content
                </div>
            </div>
        </div>
    </div>
</main>
}
