@import gospeak.core.domain.utils.Constants.Gospeak
@import gospeak.web.domain.PageMeta
@import gospeak.web.pages.admin.routes.AdminCtrl
@import gospeak.web.pages.partials.container.html.{flash, main}
@import gospeak.web.pages.user.routes.UserCtrl
@import gospeak.web.pages.published.routes.HomeCtrl
@import gospeak.web.utils.AdminReq

@(title: String)(style: Html = Html(""))(content: Html)(script: Html = Html(""))(implicit req: AdminReq[AnyContent])
@main(title, PageMeta.noIndex, style, script) {
    <nav class="navbar navbar-light bg-light navbar-expand-sm">
        <a class="navbar-brand admin" href="@HomeCtrl.index()"><img src="@Gospeak.logoText.value" alt="Gospeak logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="@AdminCtrl.index()">Admin home</a></li>
                <li class="nav-item"><a class="nav-link" href="@UserCtrl.index()">User dashboard</a></li>
            </ul>
            <span class="navbar-text">@req.user.name.value</span>
        </div>
    </nav>
    <main role="main" class="container-fluid mb-10">
        @flash(req.flash)
        @content
    </main>
}
