@import fr.gospeak.web.user.groups.events.routes.EventCtrl

@()
<li class="media card my-2" style="padding: 10px">
    <div class="media-body">
        <h5 class="mt-0 mb-1">
            <a href="@EventCtrl.detail("ht-paris", "2019-03")" style="color: inherit;">HumanTalks Paris Mars 2019</a>
        </h5>
        <b class="text-danger">Missing venue</b>, 2 planned talks
        <ul>
            <li><a href="#">Talk 1</a></li>
            <li><a href="#">Talk 2</a></li>
        </ul>
    </div>
</li>
