@import gospeak.web.pages.partials.form.html._
@import gospeak.web.utils.UserAwareReq

@(form: Field)(implicit req: UserAwareReq[AnyContent])
<div class="form-group @if(form("first-name").hasErrors || form("last-name").hasErrors){is-invalid}">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
        </div>
        @inputText(form("first-name"), Seq("placeholder" -> "First Name", "autofocus" -> "true"))
        @inputText(form("last-name"), Seq("placeholder" -> "Last Name"))
    </div>
    <div class="row">
        <div class="col invalid-feedback">@req.formatErrors(form("first-name"))</div>
        <div class="col invalid-feedback">@req.formatErrors(form("last-name"))</div>
    </div>
</div>

<div class="form-group @if(form("slug").hasErrors){is-invalid}">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user-secret"></i></span>
        </div>
        @inputText(form("slug"), Seq("placeholder" -> "Username", "slug-for" -> Seq(form("first-name"), form("last-name")).map(_.id).mkString(",")))
    </div>
    <small class="form-text text-muted">Should be lowercase alphanum with - and _ allowed.</small>
    <div class="invalid-feedback">@req.formatErrors(form("slug"))</div>
</div>

<div class="form-group @if(form("email").hasErrors){is-invalid}">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
        </div>
        @inputEmail(form("email"), Seq("placeholder" -> "Email"))
    </div>
    <div class="invalid-feedback">@req.formatErrors(form("email"))</div>
</div>

<div class="form-group @if(form("password").hasErrors){is-invalid}">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
        </div>
        @inputPassword(form("password"), Seq("placeholder" -> "Password"))
    </div>
    <div class="invalid-feedback">@req.formatErrors(form("password"))</div>
</div>

<div class="form-group custom-control custom-checkbox @if(form("rememberMe").hasErrors){is-invalid}">
    @inputCheckbox(form("rememberMe"), Seq("label" -> "Remember me"))
    <div class="invalid-feedback">@req.formatErrors(form("rememberMe"))</div>
</div>
