@import fr.gospeak.web.utils.GsRequest

@(form: Form[_])(implicit req: GsRequest[AnyContent])
@form.globalErrors match {
    case Seq() => {}
    case Seq(error) => {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @req.format(error)
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
    }
    case errors => {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            Oups, many things went wrong:
            <ul>
            @errors.map { e =>
                <li>@req.format(e)</li>
            }
            </ul>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}
