@import fr.gospeak.web.pages.partials.form.Utils

@(field: Field, args: Seq[(String, String)] = Seq())(implicit messages: Messages)
<div class="custom-control custom-checkbox @Utils.getArg(args, "class")">
    @inputCheckbox(field, args)
    @if(Utils.hasErrors(field)) {
        <div class="invalid-feedback">
            @Utils.getArg(args, "help").map { help => @helpText(field, args, help) }
            @field.errors.map(_.format).mkString(", ")
        </div>
    } else {
        @Utils.getArg(args, "help").map { help => <small class="form-text">@helpText(field, args, help)</small> }
    }
</div>
