@import fr.gospeak.web.pages.partials.form.Utils

@(field: Field, args: Seq[(String, String)] = Seq())
<div class="markdown-editor">
    <ul class="nav nav-tabs" role="tablist" id="@Utils.id(field, args)-tab">
        <li class="nav-item">
            <a class="nav-link write active" id="@Utils.id(field, args)-write-tab" data-toggle="tab" href="#@Utils.id(field, args)-write" role="tab" aria-controls="@Utils.id(field, args)-write" aria-selected="true" tabindex="-1">Write</a>
        </li>
        <li class="nav-item">
            <a class="nav-link preview" id="@Utils.id(field, args)-preview-tab" data-toggle="tab" href="#@Utils.id(field, args)-preview" role="tab" aria-controls="@Utils.id(field, args)-preview" aria-selected="false" tabindex="-1">Preview</a>
        </li>
    </ul>
    <div class="tab-content" id="@Utils.id(field, args)-content">
        <div class="tab-pane write fade show active" id="@Utils.id(field, args)-write" role="tabpanel" aria-labelledby="@Utils.id(field, args)-write-tab">
            @inputTextarea(field, args)
        </div>
        <div class="tab-pane preview fade" id="@Utils.id(field, args)-preview" role="tabpanel" aria-labelledby="@Utils.id(field, args)-preview-tab">
            <div class="d-flex justify-content-center m-5">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>
