@import fr.gospeak.web.pages.partials.form.Utils

@(field: Field, args: Seq[(String, String)] = Seq())
<textarea
    class="form-control @Utils.getArg(args, "class") @if(field.hasErrors) {is-invalid}"
    id="@Utils.id(args, field)"
    name="@Utils.getArg(args, "name", field.name)"
    @Utils.getArg(args, "placeholder").map { v => placeholder="@v" }
    @Utils.isRequired(field, args).map { _ => required="" }
    @Utils.pattern(field).map { p => pattern="@p" }
    @Utils.getArg(args, "autofocus").map { _ => autofocus="" }
    @Utils.getArg(args, "help").map { v => aria-describedby="@v" }
    @Utils.attributes(args, Seq("type", "class", "id", "name", "value", "placeholder", "required", "pattern", "autofocus", "help"))
    >@Utils.getArg(args, "value", field.value.getOrElse(""))</textarea>
