@import fr.gospeak.web.pages.partials.form.Utils

@(field: Field, options: Seq[(String, String)], args: Seq[(String, String)] = Seq())
<select
    class="custom-select @Utils.getArg(args, "class")"
    id="@Utils.id(args, field)"
    name="@Utils.getArg(args, "name", field.name)"
    @Utils.isRequired(field, args).map { _ => required="required" }
    @Utils.getArg(args, "autofocus").map { _ => autofocus="" }
    @Utils.getArg(args, "help").map { v => aria-describedby="@v" }
    @Utils.attributes(args, Seq("class", "id", "name", "value", "placeholder", "autofocus", "help", "emptyOption", "optional"))>
    @Utils.getArg(args, "emptyOption").map { opt => <option value="" class="blank">@opt</option> }
    @for((value, label) <- options) {
        <option value="@value" @if(Utils.getArg(args, "value", field.value.getOrElse("")) == value){selected="selected"}>@label</option>
    }
</select>