/* Bootstrap overrides/extensions */

.text-capitalize {
    text-transform: none !important;
}

.text-capitalize::first-letter {
    text-transform: uppercase;
}

.breadcrumb-container {
    background-color: #e9ecef;
}

.card-header .btn-sm,
.card-header .input-group-sm {
    margin-top: -3px;
    margin-bottom: -4px;
}

.list-group-item ul, .list-group-item ol {
    margin-bottom: 0;
}

.list-group-item.inactive a {
    color: #6c757d;
}

.form-row.is-invalid ~ .invalid-feedback, .is-invalid .invalid-feedback {
    display: block;
}

.pagination {
    margin-bottom: 0;
}

/* My styles */

.btn-form {
    display: inline;
}

.avatar {
    height: 31px;
    border-radius: .25em;
}

.avatar.avatar-lg {
    height: 50px;
}

.media .avatar {
    height: 100px;
}

.dropdown .avatar {
    height: 21px;
}

.markdown {
    margin-bottom: 0;
}

.markdown-editor .tab-content {
    margin-top: 5px;
}

.login {
    width: 500px;
    margin: auto;
    margin-top: 50px;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

.home-title {
    text-align: center;
    margin: 50px auto;
}

.event-item, .proposal-item {
    padding: 10px;
}

.group-item h5 a:not(.btn),
.event-item h5 a:not(.btn),
.proposal-item h5 a:not(.btn),
.talk-item h5 a:not(.btn) {
    color: inherit;
}
