/* Bootstrap overrides/extensions */

.text-capitalize {
    text-transform: none !important;
}

.text-capitalize::first-letter {
    text-transform: uppercase;
}

.breadcrumb-container {
    background-color: #e9ecef;
}

.card-header .btn-sm,
.card-header .input-group-sm {
    margin-top: -3px;
    margin-bottom: -4px;
}

.list-group-item ul, .list-group-item ol {
    margin-bottom: 0;
}

.list-group-item.inactive a {
    color: #6c757d;
}

.form-row.is-invalid ~ .invalid-feedback, .is-invalid .invalid-feedback {
    display: block;
}

.pagination {
    margin-bottom: 0;
}

.navbar-nav .nav-item i.fas {
    font-size: 1.3em;
    vertical-align: middle;
}

.btn-xs {
    padding: .15rem .4rem;
    font-size: .7rem;
    line-height: 1.4;
    border-radius: .2rem;
}

.select2-container--bootstrap .select2-selection--single {
    height: 38px;
    padding: 8px 24px 8px 12px;
}

/* My styles */

.footer {
    margin-top: 20px;
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}

.btn-form {
    display: inline;
}

.avatar {
    height: 31px;
    min-width: 31px;
    border-radius: .25em;
}

.avatar.avatar-lg {
    height: 50px;
    min-width: 50px;
}

.card .avatar-lg {
    height: 200px;
    min-width: 100px;
    border-radius: 50%;
}

.media .avatar {
    height: 100px;
    min-width: 100px;
}

.dropdown .avatar {
    height: 21px;
    min-width: 21px;
}

.markdown {
    margin-bottom: 0;
}

.markdown p:last-child {
    margin-bottom: 0;
}

.markdown-editor .tab-content {
    margin-top: 5px;
}

.quote {
    border-left: 7px;
    border-left-color: #e9ecef;
    border-left-style: solid;

    margin-left: 5px;
    padding-left: 10px;
}

.login {
    width: 500px;
    margin: auto;
    margin-top: 50px;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

.home-title {
    text-align: center;
    margin: 50px auto;
}

a.no-style {
    color: inherit;
}

.event-item, .proposal-item {
    padding: 10px;
}

.group-item h5 a:not(.btn),
.event-item h5 a:not(.btn),
.proposal-item h5 a:not(.btn),
.talk-item h5 a:not(.btn) {
    color: inherit;
}
