/* Bootstrap overrides/extensions */

.breadcrumb-container {
    background-color: #e9ecef;
}

.card-header .btn-sm {
    margin-top: -7px;
    margin-bottom: -3px;
}

.form-row.is-invalid ~ .invalid-feedback {
    display: block;
}

/* My styles */

.btn-form {
    display: inline;
}

.markdown {
    margin-bottom: 0;
}

.markdown-editor .tab-content {
    margin-top: 5px;
}

.login {
    width: 500px;
    margin: auto;
    margin-top: 50px;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

.home-title {
    text-align: center;
    margin: 50px auto;
}

.event-item, .proposal-item {
    padding: 10px;
}

.group-item h5 a:not(.btn),
.event-item h5 a:not(.btn),
.proposal-item h5 a:not(.btn),
.talk-item h5 a:not(.btn) {
    color: inherit;
}
