.login {
    width: 500px;
    margin: auto;
    margin-top: 50px;
}

.breadcrumb-container {
    background-color: #e9ecef;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

.home-title {
    text-align: center;
    margin: 50px auto;
}

.event-item, .proposal-item {
    padding: 10px;
}

.group-item h5 a:not(.btn),
.event-item h5 a:not(.btn),
.proposal-item h5 a:not(.btn),
.talk-item h5 a:not(.btn) {
    color: inherit;
}
