@import gospeak.core.domain.CommonEvent
@import gospeak.core.domain.utils.Constants
@import gospeak.web.pages.published.events.routes.EventCtrl
@import gospeak.web.pages.published.groups.routes.GroupCtrl
@import gospeak.web.utils.Formats

@(event: CommonEvent)
<div class="card mb-3 p-3">
    <div class="media">
        <a href="@event.fold(e => EventCtrl.detailExt(e.id))(i => GroupCtrl.event(i.group.slug, i.slug))">
            <img src="@event.logo.map(_.value).getOrElse(Constants.Placeholders.eventLogo)" alt="@event.name.value logo" class="u-avatar rounded-circle mr-3">
        </a>
        <div class="media-body">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="card-title mb-0"><a href="@event.fold(e => EventCtrl.detailExt(e.id))(i => GroupCtrl.event(i.group.slug, i.slug))">
                    <small class="text-muted">@Formats.icon(event.kind)</small> @event.name.value
                </a></h5>
                @event.location.map { l => <small class="text-muted">@l.valueShort</small> }
            </div>
            <div class="d-flex justify-content-between align-items-center">
                @event.external.map { e =>
                    <span>
                        @e.url.map { u => <a class="badge badge-outline-primary mr-2" href="@u" target="_blank">Site <i class="fas fa-external-link-alt"></i></a> }
                        @e.videos.map { u => <a class="badge badge-outline-primary mr-2" href="@u" target="_blank">Videos <i class="fas fa-external-link-alt"></i></a> }
                        @e.tickets.map { u => <a class="badge badge-outline-primary mr-2" href="@u" target="_blank">Tickets <i class="fas fa-external-link-alt"></i></a> }
                    </span>
                }
                @event.start.map { d => <small class="text-muted"><b>@Formats.date(d)</b></small> }
            </div>
        </div>
    </div>
</div>
