@import gospeak.core.domain.CommonEvent
@import gospeak.web.pages.published.events.routes.EventCtrl
@import gospeak.web.pages.published.groups.routes.GroupCtrl
@import gospeak.web.utils.Formats

@(event: CommonEvent)
<a class="card mb-3" href="@event.internal.map(i => GroupCtrl.event(i.groupSlug, i.eventSlug)).getOrElse(EventCtrl.detailExt(event.id.external))">
    <div class="card-body">
        <h5 class="card-title">@event.name.value</h5>
        <p class="card-text d-flex justify-content-between align-items-center">
            @event.start.map { d => <small class="text-muted">@Formats.date(d)</small> }
            @event.location.map { l => <small class="text-muted">at @l.value</small> }
        </p>
    </div>
</a>
