@import gospeak.core.domain.Event
@import gospeak.core.domain.utils.Constants
@import gospeak.web.pages.published.groups.routes.GroupCtrl
@import gospeak.web.utils.{Formats, UserAwareReq}

@(e: Event.Full)(implicit req: UserAwareReq[AnyContent])
<div class="card mb-3">
    <div class="card-body">
        <div class="media">
            <a href="@GroupCtrl.event(e.group.slug, e.slug)">
                <img class="u-avatar rounded-circle mr-3"
                    src="@e.venue.map(_.partner.logo.value).orElse(e.group.logo.map(_.value)).getOrElse(Constants.Placeholders.eventLogo)"
                    alt="@e.venue.map(_.partner.name.value).getOrElse(e.group.name.value) logo"
                    title="@e.venue.map(_.partner.name.value).getOrElse("No defined venue")"
                    data-toggle="tooltip">
            </a>
            <div class="media-body">
                <h5 class="mb-0">
                    <a href="@GroupCtrl.event(e.group.slug, e.slug)">@e.name.value</a>
                </h5>
                <p class="card-text d-flex justify-content-between align-items-center">
                    <small class="text-muted">@Formats.date(e.start)</small>
                    @e.venue.map { v => <small class="text-muted">at @v.partner.name.value</small> }
                </p>
            </div>
        </div>
    </div>
</div>
