@import gospeak.core.domain.ExternalCfp
@import gospeak.web.pages.partials.form.html._
@import gospeak.web.utils.UserReq

@(form: Field /*Form[ExternalCfp.Data]*/)(implicit req: UserReq[AnyContent])
<div class="card mb-3">
    <div class="card-header">CFP infos</div>
    <div class="card-body">
        @fieldHorizontal(form("url"), List("label" -> "Url", "help" -> "Url where to submit a proposal for this CFP")) { (field, args) =>
            @inputUrl(field, List("placeholder" -> "ex: https://cfp.devoxx.fr", "autofocus" -> "true") ++ args)
        }
        @fieldHorizontal(form("close"), List("label" -> "Dates")) { (field, args) =>
            <div class="row">
                <div class="col">@inputLocalDate(form("begin"), List("placeholder" -> "Begin date") ++ args)</div>
                <div class="col">@inputLocalDate(field, List("placeholder" -> "Closing date") ++ args)</div>
            </div>
        }
        @fieldHorizontal(form("description"), List("label" -> "Description")) { (field, args) =>
            @inputMarkdown(field, List("placeholder" -> "Tell us a bit more about this CFP and conference") ++ args)
        }
    </div>
</div>
