@import gospeak.core.domain.Event
@import gospeak.web.api.ui.routes.SuggestCtrl
@import gospeak.web.pages.partials.form.ImgConf
@import gospeak.web.pages.partials.form.html._
@import gospeak.web.utils.UserReq

@(form: Field /*Form[ExternalEvent.Data]*/)(implicit req: UserReq[AnyContent])
<div class="card mb-3">
    <div class="card-header" data-toggle="collapse" data-target="#eventCollapse">Event infos</div>
    <div class="card-body collapse show" id="eventCollapse">
        @fieldHorizontal(form("url"), List("label" -> "Url", "help" -> "The link to the event website")) { (field, args) =>
            @inputUrl(field, List("placeholder" -> "ex: http://2018.breizhcamp.org", "autofocus" -> "true") ++ args)
        }
        @fieldHorizontal(form("name"), List("label" -> "Name")) { (field, args) =>
            @inputText(field, List("placeholder" -> "The event name") ++ args)
        }
        @fieldHorizontal(form("kind"), List("label" -> "Kind")) { (field, args) =>
            @inputSelect(field, Event.Kind.all.map(k => k.value -> k.value), List("placeholder" -> "What kind of event is it?") ++ args)
        }
        @fieldHorizontal(form("start"), List("label" -> "Dates")) { (field, args) =>
            <div class="row">
                <div class="col">@inputLocalDate(field, List("placeholder" -> "Start date") ++ args)</div>
                <div class="col">@inputLocalDate(form("finish"), List("placeholder" -> "End date") ++ args)</div>
            </div>
        }
        @fieldHorizontal(form("logo"), List("label" -> "Logo")) { (field, args) =>
            @inputImg(field, ImgConf.externalEventLogo(form("name")))
        }
        @fieldHorizontal(form("location"), List("label" -> "Location")) { (field, args) =>
            @inputGMapPlace(field, List("placeholder" -> "Location of the event (address or city)") ++ args)
        }
        @fieldHorizontal(form("tags"), List("label" -> "Tags")) { (field, args) =>
            @inputTags(field, List("remote" -> SuggestCtrl.suggestTags().toString, "placeholder" -> "Main topics of this event") ++ args)
        }
    </div>
</div>
<div class="card mb-3">
    <div class="card-header" data-toggle="collapse" data-target="#moreCollapse">More infos</div>
    <div class="card-body collapse show" id="moreCollapse">
        @fieldHorizontal(form("tickets"), List("label" -> "Tickets")) { (field, args) =>
            @inputUrl(field, List("placeholder" -> "Url to buy tickets") ++ args)
        }
        @fieldHorizontal(form("videos"), List("label" -> "Videos")) { (field, args) =>
            @inputUrl(field, List("placeholder" -> "Url to find videos") ++ args)
        }
        @fieldHorizontal(form("twitterAccount"), List("label" -> "Twitter account")) { (field, args) =>
            @inputTwitterAccount(field, List("placeholder" -> "ex: https://twitter.com/DevoxxFR") ++ args)
        }
        @fieldHorizontal(form("twitterHashtag"), List("label" -> "Twitter hashtag")) { (field, args) =>
            @inputTwitterHashtag(field, List("placeholder" -> "ex: #DevoxxFR") ++ args)
        }
        @fieldHorizontal(form("description"), List("label" -> "Description")) { (field, args) =>
            @inputMarkdown(field, List("placeholder" -> "Tell us a bit more about this event") ++ args)
        }
    </div>
</div>
