@import gospeak.core.domain.{Group, User}
@import gospeak.core.domain.utils.Constants
@import gospeak.web.pages.partials.display.html._
@import gospeak.web.pages.published.groups.routes.GroupCtrl
@import gospeak.web.pages.published.speakers.routes.SpeakerCtrl
@import gospeak.web.utils._

@(group: Group.Full, orgas: Seq[User])(implicit req: BasicReq[AnyContent])
<div class="card mb-3">
    <div class="card-body p-3">
        <div class="media">
            <a href="@GroupCtrl.detail(group.slug)">
                <img class="u-lg-avatar rounded-circle mr-3" src="@group.logo.map(_.url.value).getOrElse(Constants.Placeholders.groupLogo)" alt="@group.name.value logo">
            </a>
            <div class="media-body">
                <h2 class="h5 mb-0"><a href="@GroupCtrl.detail(group.slug)">@group.name.value</a></h2>
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <small class="text-muted">@group.location.map { l => @l.valueShort }.getOrElse{ &nbsp; }</small><br>
                        <small class="text-dark">@group.eventCount.plural("event")</small> @tags(group.tags)
                    </div>
                    @avatars(group.owners, orgas, Some(u => SpeakerCtrl.detail(u.slug)))
                </div>
            </div>
        </div>
    </div>
</div>
