@import gospeak.core.domain.{CommonProposal, User}
@import gospeak.web.pages.orga.cfps.proposals.routes.{ProposalCtrl => OrgaProposalCtrl}
@import gospeak.web.pages.published.events.routes.EventCtrl
@import gospeak.web.pages.published.groups.routes.GroupCtrl
@import gospeak.web.pages.user.talks.proposals.routes.{ProposalCtrl => SpeakerProposalCtrl}
@import gospeak.web.utils._

@(user: User.Full, proposals: List[CommonProposal])(implicit req: UserAwareReq[AnyContent])
@eventLink(p: CommonProposal) = @{
    p.fold(e => EventCtrl.detailExt(e.event.id))(i => i.event.map(e => GroupCtrl.event(i.group.slug, e.slug)).getOrElse(GroupCtrl.detail(i.group.slug)))
}
@proposalLink(p: CommonProposal) = @{
    p.fold(e => EventCtrl.proposalExt(e.event.id, e.id))(i => GroupCtrl.talk(i.group.slug, i.id))
}
<ul class="list-unstyled u-indicator-vertical-dashed">
    @proposals.sortBy(-_.date.getEpochSecond).map { proposal =>
        <li class="media u-indicator-vertical-dashed-item">
            <span class="btn btn-xs btn-icon btn-@proposal.eventKind.color rounded-circle mr-3">
                <span class="btn-icon__inner">@proposal.eventKind.icon</span>
            </span>
            <div class="media-body">
                <h5 class="font-size-1 mb-1">
                    <a href="@proposalLink(proposal)">@proposal.title.value</a>
                    @proposal.slides.map { s => <a href="@s.value" target="_blank"><i class="fab fa-slideshare text-muted"></i></a> }
                    @proposal.video.map { s => <a href="@s.value" target="_blank"><i class="fab fa-youtube text-muted"></i></a> }
                    @proposal.fold { e =>
                        @if(req.isSpeaker(proposal)) {
                            <a href="@SpeakerProposalCtrl.detailExt(proposal.talk.slug, e.id)" class="hover-edit-inline"><i class="fas fa-eye"></i></a>
                            <a href="@SpeakerProposalCtrl.editExt(proposal.talk.slug, e.id, Some(req.uri))" class="hover-edit-inline"><i class="fas fa-edit"></i></a>
                        }
                    } { i =>
                        @if(req.isSpeaker(proposal)) {
                            <a href="@SpeakerProposalCtrl.detail(proposal.talk.slug, i.cfp.slug)" class="hover-edit-inline"><i class="fas fa-eye"></i></a>
                            <a href="@SpeakerProposalCtrl.edit(proposal.talk.slug, i.cfp.slug, Some(req.uri))" class="hover-edit-inline"><i class="fas fa-edit"></i></a>
                        }
                        @if(req.isOrga(proposal) && !req.isSpeaker(proposal)) {
                            <a href="@OrgaProposalCtrl.detail(i.group.slug, i.cfp.slug, i.id)" class="hover-edit-inline"><i class="fas fa-eye"></i></a>
                            <a href="@OrgaProposalCtrl.edit(i.group.slug, i.cfp.slug, i.id, Some(req.uri))" class="hover-edit-inline"><i class="fas fa-edit"></i></a>
                        }
                    }
                </h5>
                <p class="small mb-1">
                    At <a href="@eventLink(proposal)" class="no-style">@proposal.eventName</a>, @proposal.date.asDate
                </p>
            </div>
        </li>
    }
</ul>
