@import gospeak.core.domain.User
@import gospeak.web.pages.published.speakers.routes.SpeakerCtrl

@(user: User)
<div class="card position-relative mb-5">
    <div class="card-body p-3">
        <div class="row align-items-center">
            <div class="col-sm-9 mb-3 mb-sm-0">
                <div class="d-flex">
                    <a href="@SpeakerCtrl.detail(user.slug)" class="mr-3">
                        <img class="u-lg-avatar rounded-circle" src="@user.avatar.value" alt="@user.name.value avatar">
                            <!--<span class="badge badge-xs badge-outline-primary badge-pos badge-pos--bottom-left rounded-circle"></span>-->
                    </a>
                    <div class="mr-3">
                        <div class="mb-2">
                            <h2 class="h6 mb-0"><a href="@SpeakerCtrl.detail(user.slug)">@user.name.value</a></h2>
                            <span class="small">@{(user.company.toList ++ user.location.toList).mkString(", ")}</span>
                        </div>
                        <ul class="list-inline mb-0">
                            @user.social.all.map { s =>
                                <li class="list-inline-item mr-0">
                                    <a class="btn btn-sm btn-icon btn-soft-secondary rounded-circle" href="@s.link" target="_blank" title="@s.handle">
                                        <span class="fab fa-@s.name btn-icon__inner"></span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
                <!--<div class="col-sm-5 align-self-sm-end">
                    <div class="text-sm-right">
                        <a class="btn btn-sm btn-soft-primary transition-3d-hover" href="#">
                            <span class="far fa-envelope mr-2"></span>
                            Send a Message
                        </a>
                    </div>
                </div>-->
        </div>
            <!--<a class="btn btn-sm btn-icon btn-soft-warning btn-bg-transparent position-absolute top-0 right-0 rounded-circle mt-3 mr-3" title="Add to favorites" data-toggle="tooltip" data-placement="top">
                <span class="far fa-star btn-icon__inner"></span>
            </a>-->
    </div>
</div>
