@import fr.gospeak.web.user.groups.routes.GroupCtrl

@()
<li class="media my-4 group-item">
    <img class="mr-3" src="@routes.Assets.versioned("lib/web/img/64x64.svg")" alt="Generic placeholder image">
    <div class="media-body">
        <h5 class="mt-0 mb-1"><a href="@GroupCtrl.detail("ht-paris")">HumanTalks Paris</a></h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
        purus
        odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
        fringilla. Donec lacinia congue felis in faucibus.
    </div>
</li>
