@import gospeak.core.domain.Group
@import gospeak.core.domain.utils.TemplateData
@import fr.gospeak.web.pages.orga.settings.SettingsForms.AddAction
@import fr.gospeak.web.pages.partials.display.html._
@import fr.gospeak.web.pages.partials.form.html._
@import fr.gospeak.web.utils.OrgaReq

@(actionForm: Form[AddAction])(implicit req: OrgaReq[AnyContent])
@fieldHorizontal(actionForm("trigger"), Seq("label" -> "Trigger", "help" -> "Choose the trigger you want for your action")) { (field, args) =>
    @inputSelect(field, Group.Settings.Action.Trigger.all.map(t => (t.toString, t.name)), Seq("placeholder" -> "") ++ args)
}
<div class="row">
    <div class="col-7">
        @navVertical(actionForm("action"), field => Seq(
            (field, "Email-Send", "Send an email", actionFieldsEmailSend(_, actionForm("trigger").id)),
            (field, "Slack-PostMessage", "Post Slack message", actionFieldsSlackPostMessage(_, actionForm("trigger").id))
            /* (field, "Twitter-PostMessage", "Post a Twitt", _ => Html("TODO")) */
        ), 4)
    </div>
    <div class="col-5">
        @displayTemplateData(ref = actionForm("trigger").value.flatMap(v => TemplateData.Ref.from(v).toOption), target = Some(actionForm("trigger").id))
    </div>
</div>
