@import gospeak.web.pages.partials.form.html._
@import gospeak.web.utils.OrgaReq

@(field: Field, templateTarget: String)(implicit req: OrgaReq[AnyContent])
@inputHidden(field("kind"), List("value" -> "Email.Send"))
@fieldVertical(field("to"), List("label" -> "Recipient", "help" -> "Recipient email address")) { (field, args) =>
    @inputTemplate(field, target = Some(templateTarget), multiline = false, markdown = false)
}
@fieldVertical(field("subject"), List("label" -> "Subject", "help" -> "Email subject")) { (field, args) =>
    @inputTemplate(field, target = Some(templateTarget), multiline = false, markdown = false)
}
@fieldVertical(field("content"), List("label" -> "Message", "help" -> "Email message")) { (field, args) =>
    @inputTemplate(field, target = Some(templateTarget))
}
