@import gospeak.core.services.meetup.domain.MeetupCredentials
@import gospeak.web.pages.orga.settings.routes.SettingsCtrl
@import gospeak.web.pages.partials.form.html._
@import gospeak.web.utils.GsForms
@import gospeak.web.utils.OrgaReq

@(id: String, meetupForm: Form[GsForms.GroupAccount.Meetup], credsOpt: Option[MeetupCredentials])(implicit req: OrgaReq[AnyContent])
<div class="modal fade" id="@id" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
        @formElt(meetupForm, SettingsCtrl.meetupAuthorize(req.group.slug)) {
            <div class="modal-header">
                <h5 class="modal-title" id="meetupIntegrationModal">Meetup integration</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Connect Gospeak to your Meetup group so you will be able to create meetup events automatically.<br>
                    You can <a href="https://www.meetup.com/fr-FR/account/oauth_apps" target="_blank">
                    revoke the access</a> at any time.
                </p>
                @credsOpt.map { creds =>
                    <div class="alert alert-success" role="alert">Connected to <b>@creds.group.value</b> group with <b>@creds.loggedUserName</b> account.</div>
                    <p>If you want to change the group or the logged account, you can connect again:</p>
                }
                @fieldHorizontal(meetupForm("group"), Seq("label" -> "URL group name", "help" -> "To find it, go on your meetup group and look for the last part of the URL")) { (field, args) =>
                    @inputText(field, args)
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @btnSubmit("Connect Meetup")
            </div>
        }
        </div>
    </div>
</div>
