@import com.mohiva.play.silhouette.api.actions.SecuredRequest
@import fr.gospeak.web.auth.domain.CookieEnv
@import fr.gospeak.web.auth.routes.AuthCtrl
@import fr.gospeak.web.domain.Breadcrumb
@import fr.gospeak.web.pages.partials.container.html._
@import fr.gospeak.web.pages.partials.form.html.formBtn
@import fr.gospeak.web.pages.speaker.routes.SpeakerCtrl
@import fr.gospeak.web.pages.speaker.talks.routes.TalkCtrl
@import fr.gospeak.web.pages.user.routes.UserCtrl

@(title: String, b: Breadcrumb, hideAlert: Boolean = false)(style: Html = Html(""))(content: Html)(script: Html = Html(""))(implicit req: SecuredRequest[CookieEnv, AnyContent], messages: Messages)
@main(title, style, script) {
    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="@UserCtrl.index()">Gospeak</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    @navbarLink(UserCtrl.listGroup()) {Groups}
                    @navbarLink(TalkCtrl.list()) {Talks}
                    @navbarLink(SpeakerCtrl.profile()) {Profile}
                </div>
            </div>
            <div class="navbar-nav">
                @userDropdown(req.identity)
            </div>
        </div>
    </nav>
    @breadcrumb(b)
    <div class="container">
        @if(!hideAlert && req.identity.user.emailValidated.isEmpty) {
            @alert("warning", "d-flex justify-content-between align-items-center") {
                <span class="align-self-center">
                    Your email is not validated, please click on the validation link in the signup email</span>
                @formBtn(AuthCtrl.accountValidation(), Seq("class" -> "btn-sm btn-warning")) {Resend validation email}
            }
        }
        @flash(req.flash)
        @content
    </div>
    @footer()
}
