@import fr.gospeak.web.auth.routes.AuthCtrl
@import fr.gospeak.core.domain.User
@import fr.gospeak.web.domain.Breadcrumb
@import fr.gospeak.web.pages.partials.container.html._
@import fr.gospeak.web.pages.partials.form.html.formBtn
@import fr.gospeak.web.pages.speaker.routes.SpeakerCtrl
@import fr.gospeak.web.pages.speaker.talks.routes.TalkCtrl
@import fr.gospeak.web.pages.speaker.proposals.routes.ProposalCtrl
@import fr.gospeak.web.pages.user.routes.UserCtrl
@import fr.gospeak.web.pages.published.speakers.routes.{SpeakerCtrl => PublicSpeakerCtrl}
@import fr.gospeak.web.utils.SecuredReq

@(title: String, b: Breadcrumb, hideAlert: Boolean = false)(style: Html = Html(""))(content: Html)(script: Html = Html(""))(implicit req: SecuredReq[AnyContent])
@main(title, "user.css", style, script, req.env) {
    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="@UserCtrl.index()">Gospeak</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    @navbarLink(TalkCtrl.list(), "data-hotkey" -> "1") {Talks}
                    @navbarLink(ProposalCtrl.list(), "data-hotkey" -> "2") {Proposals}
                    @navbarLink(SpeakerCtrl.detail(), "data-hotkey" -> "3,g s") {Profile}
                </div>
            </div>
            <div class="navbar-nav">
                @req.user.status match {
                    case User.Status.Public => {<a class="nav-item nav-link" href="@PublicSpeakerCtrl.detail(req.user.slug)" target="_blank" title="Your profile is public, see it here" data-toggle="tooltip" data-placement="bottom" data-hotkey="g p"><i class="fas fa-eye"></i></a>}
                    case User.Status.Private => {<span title="Your profile is private, you can make it public by editing your profile" data-toggle="tooltip" data-placement="bottom"><span class="nav-item nav-link disabled"><i class="fas fa-eye-slash"></i></span></span>}
                    case User.Status.Undefined => {}
                }
                @userDropdown(req.user, req.groups)
            </div>
        </div>
    </nav>
    @breadcrumb(b)
    <div class="container">
        @if(!hideAlert && req.user.emailValidated.isEmpty) {
            @alert("warning", "d-flex justify-content-between align-items-center") {
                <span class="align-self-center">
                    Your email is not validated, please click on the validation link in the signup email</span>
                @formBtn(AuthCtrl.accountValidation(), Seq("class" -> "btn-sm btn-warning")) {Resend validation email}
            }
        }
        @flash(req.flash)
        @content
    </div>
    @footer()
}
