@import fr.gospeak.core.domain.Proposal
@import fr.gospeak.web.api.ui.routes.SuggestCtrl
@import fr.gospeak.web.pages.partials.form.html._

@(form: Form[Proposal.Data])(implicit messages: Messages)
@fieldHorizontal(form("title"), Seq("label" -> "Title", "help" -> "Title for your proposal (you can adapt your talk title)")) { (field, args) =>
    @inputText(field, Seq("placeholder" -> "ex: Awesome FP, the practical way", "autofocus" -> "true") ++ args)
}
@fieldHorizontal(form("duration"), Seq("label" -> "Duration", "help" -> "Duration of your proposal")) { (field, args) =>
    @inputDuration(field, args = args)
}
@fieldHorizontal(form("description"), Seq("label" -> "Description", "help" -> "Give a abstract for your proposal, you should make orga and people listen at you")) { (field, args) =>
    @inputMarkdown(field, args)
}
@fieldHorizontal(form("slides"), Seq("label" -> "Slides", "help" -> "Slides for your proposal")) { (field, args) =>
    @inputEmbed(field, args)
}
@fieldHorizontal(form("video"), Seq("label" -> "Video", "help" -> "Video of your proposal")) { (field, args) =>
    @inputEmbed(field, args)
}
@fieldHorizontal(form("tags"), Seq("label" -> "Tags", "help" -> "Main topics of your proposal")) { (field, args) =>
    @inputTags(field, args ++ Seq("remote" -> SuggestCtrl.tags().toString))
}
