@import gospeak.core.domain.utils.TemplateData
@import fr.gospeak.web.pages.partials.display.html._
@*
* @param 'ref' Ref of TemplateData to use
* @param 'target' Id of input to watch to get the TemplateData Ref (or some info that allow to get the TemplateData Ref)
*@
@(ref: Option[TemplateData.Ref] = None, target: Option[String] = None)
<div class="template-data" @ref.map { r => data-ref="@r.value" }@target.map { t => data-target="@t" }style="display: none">
    Sample of available data for the template:
@displayJson()
</div>
