@import gospeak.libs.scala.domain.Page

@(page: Page[_], link: Page.Params => Call, key: String, label: String, values: List[(String, String)])
@menu() = {
    <div class="dropdown-menu" aria-labelledby="filter-@key">
        @values.map { case (value, label) =>
            <a href="@link(page.params.addFilter(key, value))" class="dropdown-item @if(page.params.filters.get(key).contains(value)){active}">@label</a>
        }
    </div>
}
<div class="dropdown" style="display: inline">
    @page.params.filters.get(key) match {
        case Some(value) => {
            <div class="badge badge-primary">
                <a href="@link(page.params.dropFilter(key))"><i class="fas fa-times"></i></a>
                <a href="#" class="dropdown-toggle" id="filter-@key" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@label: @values.find(_._1 == value).map(_._2).getOrElse(value)</a>
                @menu()
            </div>
        }
        case _ => {
            <a href="#" class="badge badge-secondary dropdown-toggle" id="filter-@key" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@label</a>
            @menu()
        }
    }
</div>
