@import gospeak.core.domain.User
@import gospeak.core.domain.utils.Info
@import gospeak.web.utils._

@(info: Info, users: List[User], call: Option[User => Call] = None)(implicit req: UserReq[AnyContent])
@username(id: User.Id) = @{
    users.find(_.id == id).map(_.name.value).getOrElse(s"Unknown (${id.value})")
}
@userlink(id: User.Id) = {
@users.find(_.id == id).map { u =>
    @call match {
        case Some(url) => {
            <a href="@url(u)">@u.name.value</a>
        }
        case None => {
            @u.name.value
        }
    }
}.getOrElse {Unknown (@id.value)}
}
<span>
    <span @if(info.updatedAt != info.createdAt) {
        title="Updated by @username(info.updatedBy) on @info.updatedAt.asDate"}>
        Created by @userlink(info.createdBy)
    </span>
    @info.createdAt.asTimeAgo
</span>
