@import fr.gospeak.web.pages.partials.form.Utils
@import fr.gospeak.web.utils.BasicReq

@(field: Field, args: Seq[(String, String)] = Seq())(input: (Field, Seq[(String, String)]) => Html)(implicit req: BasicReq[AnyContent])
<div class="row form-group @Utils.getArg(args, "class")">
    <label class="col-sm-2 col-form-label" for="@Utils.id(field, args)">@Utils.getArg(args, "label", field.name)</label>
    <div class="col-sm-10">
        @input(field, Seq(Utils.getArg(args, "help").map(_ => "help" -> Utils.helpId(args, field))).flatten)
        @if(Utils.hasErrors(field)) {
            <div class="invalid-feedback">
                @Utils.getArg(args, "help").map { help => @helpText(field, args, help) }
                @req.format(Utils.getErrors(field))
            </div>
        } else {
            @Utils.getArg(args, "help").map { help => <small class="form-text">@helpText(field, args, help)</small> }
        }
    </div>
</div>
