@import gospeak.web.pages.partials.form.Utils
@import gospeak.web.utils.BasicReq

@(field: Field, args: Seq[(String, String)] = Seq())(input: (Field, Seq[(String, String)]) => Html)(implicit req: BasicReq[AnyContent])
<div class="form-group @Utils.getArg(args, "class")">
    <label for="@Utils.id(field, args)">@Utils.getArg(args, "label", field.name)</label>
    @input(field, Seq(Utils.getArg(args, "help").map(_ => "help" -> Utils.helpId(args, field))).flatten)
    @if(Utils.hasErrors(field)) {
        <div class="invalid-feedback">
            @Utils.getArg(args, "help").map { help => @helpText(field, args, help) }
            @req.formatErrors(field)
        </div>
    } else {
        @Utils.getArg(args, "help").map { help => <small class="form-text">@helpText(field, args, help)</small> }
    }
</div>
