@import gospeak.web.utils.Extensions._
@import gospeak.web.utils.UserReq

@(field: Field, args: Seq[(String, String)] = Seq())(implicit req: UserReq[AnyContent])
@defining(Seq("id", "name", "streetNo", "street", "postalCode", "locality", "country", "formatted", "lat", "lng", "url", "website", "phone", "utcOffset")) { hiddenFields: Seq[String] =>
    @defining(("input" +: hiddenFields).flatMap(f => field(f).errors)) { errors: Seq[FormError] =>
        <div class="gmapplace-input @if(errors.nonEmpty) {is-invalid}">
            @inputText(field("input"), args)
            @hiddenFields.map { f =>
                @inputHidden(field(f), Seq("class" -> s"gmapplace-$f"))
            }
            @if(errors.nonEmpty) {
                <div class="invalid-feedback">@errors.map { e => <span data-key="@e.key">@req.format(e)</span> }.mkHtml(", ")</div>
            }
            <div class="map" style="height: 300px;
                display: none;"></div>
        </div>
    }
}
