@import gospeak.web.pages.partials.form.Utils

@(field: Field, args: List[(String, String)] = List())
@defining(field.indexes.flatMap(i => field(s"[$i]").value).toList) { values: List[String] =>
    <select
        @Utils.idAttr(field, args)
        @Utils.nameAttr(field, args, multi = true)
        @Utils.valuesAttr(field, args)
        @Utils.classAttr(field, args, "form-control tags")
        @Utils.requiredAttr(field, args)
        @Utils.autofocusAttr(args)
        @Utils.multipleAttr()
        @Utils.placeholderAttr(args)
        @Utils.otherAttrs(args)>
        @values.map { value => <option value="@value" selected="selected">@value</option> }
    </select>
}
