@import gospeak.web.pages.partials.form.html._
@import gospeak.web.utils.UserReq

@(form: Field)(implicit req: UserReq[AnyContent])
@fieldHorizontal(form("facebook"), Seq("label" -> "Facebook")) { (field, args) =>
    <!-- https://fontawesome.com/icons/facebook?style=brands -->
    <!-- https://fontawesome.com/icons/facebook-f?style=brands -->
    <!-- https://fontawesome.com/icons/facebook-square?style=brands -->
    @inputUrl(field, Seq("placeholder" -> "ex: https://www.facebook.com/GoSpeak-116563639716599"))
}
@fieldHorizontal(form("instagram"), Seq("label" -> "Instagram")) { (field, args) =>
    <!-- https://fontawesome.com/icons/instagram?style=brands -->
    @inputUrl(field, Seq("placeholder" -> "ex: https://www.instagram.com/gospeak"))
}
@fieldHorizontal(form("twitter"), Seq("label" -> "Twitter")) { (field, args) =>
    <!-- https://fontawesome.com/icons/twitter?style=brands -->
    <!-- https://fontawesome.com/icons/twitter-square?style=brands -->
    @inputUrl(field, Seq("placeholder" -> "ex: https://twitter.com/gospeak_io"))
}
@fieldHorizontal(form("linkedIn"), Seq("label" -> "LinkedIn")) { (field, args) =>
    <!-- https://fontawesome.com/icons/linkedin?style=brands -->
    <!-- https://fontawesome.com/icons/linkedin-in?style=brands -->
    @inputUrl(field, Seq("placeholder" -> "ex: https://www.linkedin.com/company/gospeak"))
}
@fieldHorizontal(form("youtube"), Seq("label" -> "Youtube")) { (field, args) =>
    <!-- https://fontawesome.com/icons/youtube?style=brands -->
    <!-- https://fontawesome.com/icons/youtube-square?style=brands -->
    @inputUrl(field, Seq("placeholder" -> "ex: https://www.youtube.com/channel/UCKFAwlgWiAB4vUpgnS63qog"))
}
@fieldHorizontal(form("meetup"), Seq("label" -> "Meetup")) { (field, args) =>
    <!-- https://fontawesome.com/icons/meetup?style=brands -->
    @inputUrl(field, Seq("placeholder" -> "ex: https://www.meetup.com/fr-FR/HumanTalks-Paris"))
}
@fieldHorizontal(form("eventbrite"), Seq("label" -> "Eventbrite")) { (field, args) =>
    @inputUrl(field, Seq("placeholder" -> "ex: https://www.eventbrite.com/o/the-family-15751873639"))
}
@fieldHorizontal(form("slack"), Seq("label" -> "Slack")) { (field, args) =>
    <!-- https://fontawesome.com/icons/slack?style=brands -->
    <!-- https://fontawesome.com/icons/slack-hash?style=brands -->
    @inputUrl(field, Seq("placeholder" -> "ex: https://humantalks.slack.com"))
}
@fieldHorizontal(form("discord"), Seq("label" -> "Discord")) { (field, args) =>
    <!-- https://fontawesome.com/icons/discord?style=brands -->
    @inputUrl(field, Seq("placeholder" -> "ex: https://discordapp.com/invite/3MMu9cR"))
}
@fieldHorizontal(form("github"), Seq("label" -> "Github")) { (field, args) =>
    <!-- https://fontawesome.com/icons/github?style=brands -->
    <!-- https://fontawesome.com/icons/github-alt?style=brands -->
    <!-- https://fontawesome.com/icons/github-square?style=brands -->
    @inputUrl(field, Seq("placeholder" -> "ex: https://github.com/gospeak-io"))
}
<!-- https://fontawesome.com/icons/behance?style=brands -->
<!-- https://fontawesome.com/icons/behance-square?style=brands -->
<!-- https://fontawesome.com/icons/bitbucket?style=brands -->
<!-- https://fontawesome.com/icons/blogger?style=brands -->
<!-- https://fontawesome.com/icons/blogger-b?style=brands -->
<!-- https://fontawesome.com/icons/deviantart?style=brands -->
<!-- https://fontawesome.com/icons/discourse?style=brands -->
<!-- https://fontawesome.com/icons/dribbble?style=brands -->
<!-- https://fontawesome.com/icons/dribbble-square?style=brands -->
<!-- https://fontawesome.com/icons/gitlab?style=brands -->
<!-- https://fontawesome.com/icons/mastodon?style=brands -->
<!-- https://fontawesome.com/icons/medium?style=brands -->
<!-- https://fontawesome.com/icons/medium-m?style=brands -->
<!-- https://fontawesome.com/icons/patreon?style=brands -->
<!-- https://fontawesome.com/icons/pinterest?style=brands -->
<!-- https://fontawesome.com/icons/pinterest-p?style=brands -->
<!-- https://fontawesome.com/icons/pinterest-square?style=brands -->
<!-- https://fontawesome.com/icons/slideshare?style=brands -->
<!-- https://fontawesome.com/icons/snapchat?style=brands -->
<!-- https://fontawesome.com/icons/snapchat-ghost?style=brands -->
<!-- https://fontawesome.com/icons/snapchat-square?style=brands -->
<!-- https://fontawesome.com/icons/tumblr?style=brands -->
<!-- https://fontawesome.com/icons/tumblr-square?style=brands -->
<!-- https://fontawesome.com/icons/twitch?style=brands -->
<!-- https://fontawesome.com/icons/vimeo?style=brands -->
<!-- https://fontawesome.com/icons/vimeo-square?style=brands -->
<!-- https://fontawesome.com/icons/vimeo-v?style=brands -->
<!-- https://fontawesome.com/icons/wordpress?style=brands -->
<!-- https://fontawesome.com/icons/wordpress-simple?style=brands -->
<!-- https://fontawesome.com/icons/spotify?style=brands -->
