@import fr.gospeak.core.domain.ExternalCfp
@import fr.gospeak.web.api.ui.routes.SuggestCtrl
@import fr.gospeak.web.pages.partials.form.html._
@import fr.gospeak.web.utils.SecuredReq

@(form: Form[ExternalCfp.Data])(implicit req: SecuredReq[AnyContent])
<div class="card mb-3">
    <div class="card-header" data-toggle="collapse" data-target="#cfpCollapse">CFP infos</div>
    <div class="card-body collapse show" id="cfpCollapse">
        @fieldHorizontal(form("url"), Seq("label" -> "Url", "help" -> "Url where to submit a proposal for this CFP")) { (field, args) =>
            @inputUrl(field, Seq("placeholder" -> "ex: https://cfp.devoxx.fr", "autofocus" -> "true") ++ args)
        }
        @fieldHorizontal(form("name"), Seq("label" -> "Name")) { (field, args) =>
            @inputText(field, Seq("placeholder" -> "The CFP or conference name") ++ args)
        }
        @fieldHorizontal(form("close"), Seq("label" -> "Dates")) { (field, args) =>
            <div class="row">
                <div class="col">@inputLocalDate(form("begin"), Seq("placeholder" -> "Begin date") ++ args)</div>
                <div class="col">@inputLocalDate(field, Seq("placeholder" -> "Closing date") ++ args)</div>
            </div>
        }
        @fieldHorizontal(form("logo"), Seq("label" -> "Logo")) { (field, args) =>
            @inputImg(field, Seq("placeholder" -> "Url of the CFP logo") ++ args)
        }
    </div>
</div>
<div class="card mb-3">
    <div class="card-header" data-toggle="collapse" data-target="#eventCollapse">Conference infos</div>
    <div id="eventCollapse" class="card-body collapse @if(Seq("url", "start", "finish", "address", "tickets", "videos", "twitterAccount", "twitterHashtag").exists(f => form("event."+f).value.isDefined)){show}">
        @fieldHorizontal(form("event.url"), Seq("label" -> "Url", "help" -> "Website of the conference")) { (field, args) =>
            @inputUrl(field, Seq("placeholder" -> "ex: https://devoxx.fr") ++ args)
        }
        @fieldHorizontal(form("event.start"), Seq("label" -> "Conference dates")) { (field, args) =>
            <div class="row">
                <div class="col">@inputLocalDate(field, Seq("placeholder" -> "Start date") ++ args)</div>
                <div class="col">@inputLocalDate(form("event.finish"), Seq("placeholder" -> "End date") ++ args)</div>
            </div>
        }
        @fieldHorizontal(form("event.address"), Seq("label" -> "Location", "help" -> "Address of the conference")) { (field, args) =>
            @inputGMapPlace(field, args)
        }
        @fieldHorizontal(form("event.tickets"), Seq("label" -> "Tickets", "help" -> "Page to buy tickets")) { (field, args) =>
            @inputUrl(field, Seq("placeholder" -> "") ++ args)
        }
        @fieldHorizontal(form("event.videos"), Seq("label" -> "Videos", "help" -> "Link to find videos")) { (field, args) =>
            @inputUrl(field, Seq("placeholder" -> "") ++ args)
        }
        @fieldHorizontal(form("event.twitterAccount"), Seq("label" -> "Twitter account")) { (field, args) =>
            @inputTwitterAccount(field, Seq("placeholder" -> "ex: https://twitter.com/DevoxxFR") ++ args)
        }
        @fieldHorizontal(form("event.twitterHashtag"), Seq("label" -> "Twitter hashtag")) { (field, args) =>
            @inputTwitterHashtag(field, Seq("placeholder" -> "ex: #DevoxxFR") ++ args)
        }
    </div>
</div>
<div class="card mb-3">
    <div class="card-header" data-toggle="collapse" data-target="#moreCollapse">More infos</div>
    <div id="moreCollapse" class="card-body collapse @if(Seq("description", "tags").exists(f => form(f).value.isDefined)){show}">
        @fieldHorizontal(form("description"), Seq("label" -> "Description")) { (field, args) =>
            @inputMarkdown(field, Seq("placeholder" -> "Tell us a bit more about this CFP and conference") ++ args)
        }
        @fieldHorizontal(form("tags"), Seq("label" -> "Tags", "help" -> "Main topics of this CFP")) { (field, args) =>
            @inputTags(field, args ++ Seq("remote" -> SuggestCtrl.suggestTags().toString))
        }
    </div>
</div>
