@import fr.gospeak.core.domain.CommonCfp
@import fr.gospeak.web.pages.published.cfps.routes.CfpCtrl
@import fr.gospeak.web.utils.Formats
@import java.time.temporal.ChronoUnit
@import java.time.{Instant, ZoneOffset}
@import fr.gospeak.web.pages.partials.display.html.tags

@(cfp: CommonCfp, now: Instant)
<a class="list-group-item list-group-item-action" href="@cfp.ref.fold(id => CfpCtrl.detailExt(id), slug => CfpCtrl.detail(slug))">
    <div class="d-flex justify-content-between align-items-center">
        <h5 class="mb-0">@cfp.name</h5>
        @cfp.close match {
            case Some(d) if now.plus(10, ChronoUnit.DAYS).isAfter(d.toInstant(ZoneOffset.UTC)) => {
                <span class="badge badge-danger">Closes @Formats.date(d)</span>
            }
            case Some(d) if now.plus(30, ChronoUnit.DAYS).isAfter(d.toInstant(ZoneOffset.UTC)) => {
                <span class="badge badge-warning">Closes @Formats.date(d)</span>
            }
            case Some(d) => {
                <span class="badge badge-primary">Closes @Formats.date(d)</span>
            }
            case None => {
                <span class="badge badge-primary">Always open</span>
            }
        }
    </div>
    @tags(cfp.tags)
    @* TODO event location, event date (if available), isBeginnerFriendly *@
</a>
