@import fr.gospeak.web.auth.routes.AuthCtrl
@import fr.gospeak.web.domain.Breadcrumb
@import fr.gospeak.web.pages.partials.container.html.{flash_theme, main_theme, navbarLink_theme, userDropdown_theme}
@import fr.gospeak.web.pages.published.cfps.routes.CfpCtrl
@import fr.gospeak.web.pages.published.groups.routes.GroupCtrl
@import fr.gospeak.web.pages.published.routes.HomeCtrl
@import fr.gospeak.web.pages.published.speakers.routes.SpeakerCtrl
@import fr.gospeak.web.utils.UserAwareReq
@(title: String, b: Breadcrumb)(style: Html = Html(""))(content: Html)(script: Html = Html(""))(implicit req: UserAwareReq[AnyContent])
@main_theme(title, "published_theme.css", style, script, req.env) {
    <header id="header" class="u-header u-header--abs-top-md u-header--bg-transparent u-header--show-hide-md" data-header-fix-moment="500" data-header-fix-effect="slide">
        <div class="u-header__section">
            <div id="logoAndNav" class="container">
                <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar u-header__navbar--no-space">
                    <!-- Logo -->
                    <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-center" href="@HomeCtrl.index()" aria-label="Gospeak">
                        <span class="u-header__navbar-brand-text">Gospeak</span>
                    </a>
                    <!-- End Logo -->

                    <!-- Responsive Toggle Button -->
                    <button type="button" class="navbar-toggler btn u-hamburger" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                        <span id="hamburgerTrigger" class="u-hamburger__box">
                            <span class="u-hamburger__inner"></span>
                        </span>
                    </button>
                    <!-- End Responsive Toggle Button -->

                    <!-- Navigation -->
                    <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse">
                        <ul class="navbar-nav u-header__navbar-nav">
                            <!-- CFPS -->
                            <li class="nav-item  u-header__nav-item" data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut" data-position="left">
                                @navbarLink_theme(CfpCtrl.list(), "data-hotkey" -> "1") {Call For Proposals}
                            </li>
                            <!-- End CFPS -->

                            <!-- GROUPS -->
                            <li class="nav-item  u-header__nav-item" data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut">
                                @navbarLink_theme(GroupCtrl.list(), "data-hotkey" -> "2") {Groups}

                            </li>
                            <!-- End GROUPS -->

                            <!-- SPEAKERS -->
                            <li class="nav-item  u-header__nav-item" data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut">
                                @navbarLink_theme(SpeakerCtrl.list(), "data-hotkey" -> "3") {Speakers}
                            </li>
                            <!-- End SPEAKERS -->

                            <!-- LOGIN -->
                            <li class="nav-item u-header__nav-last-item">
                                @req.secured.map { r =>
                                    @userDropdown_theme(r.user, r.groups)
                                    }.getOrElse {
                                    <a class="btn btn-sm btn-primary transition-3d-hover" href="@AuthCtrl.login()">Login</a>
                                }
                            </li>
                            <!-- End LOGIN -->
                        </ul>
                    </div>
                    <!-- End Navigation -->
                </nav>
                <!-- End Nav -->
            </div>
        </div>
    </header>
    <main id="content" role="main">
        @flash_theme(req.flash)
        @content
    </main>
}

