@import fr.gospeak.core.domain.User
@import fr.gospeak.web.pages.partials.display.html._
@import fr.gospeak.web.pages.published.speakers.routes.SpeakerCtrl


@(speaker: User)
<div class="card-deck d-block d-lg-flex card-lg-gutters-2">
    <a class="card card-frame mb-3" href="@SpeakerCtrl.detail(speaker.slug)">
        <div class="card-body">
            <div class="media">
                <div class="u-avatar mr-3">
                    <img class="img-fluid rounded-circle" src="@speaker.avatar.url.value" alt="@speaker.avatar.url.value avatar">
                </div>
                <div class="media-body">
                    <h4 class="h6 text-dark mb-0">@speaker.name.value</h4>
                    <span>@speaker.profile.website.map { url => @websiteLink(url) }</span>
                    <span>@speaker.profile.twitter.map { url => @twitterLink(url) }</span>
                </div>
            </div>
        </div>
    </a>
</div>