@import java.time.{Instant, LocalDateTime, ZoneOffset}
@import fr.gospeak.core.domain.{Cfp, Event, Proposal}
@import fr.gospeak.web.pages.partials.display.html._
@import fr.gospeak.web.pages.published.speakers.routes.SpeakerCtrl
@import fr.gospeak.web.utils.Formats._

@(talkWithEvent: (Event, Proposal), now: Instant)
@tense(event: Event) = {
@if(event.start.isAfter(LocalDateTime.ofInstant(now, ZoneOffset.UTC))) {Will be hold} else {Was held}
}
<div class="list-group-item list-group-item-action">
    <h5 class="mb-1">
        <a ref="#">@talkWithEvent._2.title.value</a>
    </h5>
    <span class="badge badge-dark">@talkWithEvent._1.name.value</span>
    @duration(talkWithEvent._2.duration)
    @slidesIcon(talkWithEvent._2.slides)
    @videoIcon(talkWithEvent._2.video)
    @tags(talkWithEvent._2.tags)
    <span>
        <small>@tense(talkWithEvent._1) on @date(talkWithEvent._1.start)</small>
    </span>
</div>
