@import fr.gospeak.core.domain.{Comment, User}
@import fr.gospeak.web.pages.partials.display.html._
@import fr.gospeak.web.pages.partials.form.html._
@import fr.gospeak.web.auth.routes.AuthCtrl
@import fr.gospeak.web.utils.Formats
@import fr.gospeak.web.utils.UserAwareReq

@(comments: Seq[Comment.Full], commentForm: Form[Comment.Data], sendComment: Call, pageUrl: Call, tabindex: Int = 10)(implicit req: UserAwareReq[AnyContent])
<div class="comment-section">

    @if(comments.nonEmpty) {
        <div class="border-bottom pb-6 mb-6">
            @comments.map { comment =>
                <div class="media align-items-center mb-2">
                    <div class="u-avatar mr-3">
                        <img class="img-fluid rounded-circle" src="@comment.user.avatar.url.value" alt="@comment.user.name.value avatar">
                    </div>
                    <div class="media-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="h6 font-weight-medium mb-0">@comment.user.name.value</span>
                            <small class="text-muted">@timeAgo(comment.createdAt)</small>
                        </div>
                    </div>
                </div>
                <p>@comment.text</p>
            }
        </div>
    }
<div class="comment-submit">
@req.user.map { user =>
    @formElt(commentForm, sendComment) {
        <div class="media">
            <div class="u-avatar mr-3">
                <img class="img-fluid rounded-circle" src="@user.avatar.url.value" alt="@user.name.value avatar">
            </div>
            <div class="media-body">
                <h5 class="mt-0 d-flex justify-content-between align-items-center">
                    @user.name.value
                    <button type="submit" class="btn btn-primary btn-sm" tabindex="@{tabindex + 1}">Send</button>
                </h5>
                @inputTextarea(commentForm("text"), Seq("placeholder" -> "Add comment...", "tabindex" -> tabindex.toString))
            </div>
        </div>
    }
}.getOrElse {
    <a href="@AuthCtrl.login(redirect = Some(pageUrl.toString))" class="btn btn-success">Login to comment</a>
}
</div>
</div>
