@import fr.gospeak.core.domain.Comment
@import fr.gospeak.web.pages.partials.display.html._
@import fr.gospeak.web.pages.partials.form.html._
@import fr.gospeak.web.auth.routes.AuthCtrl
@import fr.gospeak.web.utils.UserAwareReq

@(comments: Seq[Comment.Full], commentForm: Form[Comment.Data], sendComment: Call, pageUrl: Call, tabindex: Int = 10)(implicit req: UserAwareReq[AnyContent])
<div class="comment-section mb-3">
    @if(comments.nonEmpty) {
        <div class="border-bottom mb-3">
            @comments.map { comment =>
                <div class="media mb-3">
                    <img class="img-fluid rounded-circle u-avatar mr-3" src="@comment.createdBy.avatar.url.value" alt="@comment.createdBy.name.value avatar">
                    <div class="media-body">
                        <div class="d-flex justify-content-between align-items-center">
                            @comment.createdBy.name.value
                            <small class="text-muted">@timeAgo(comment.createdAt)</small>
                        </div>
                        <p class="mb-0">@comment.text</p>
                    </div>
                </div>
            }
        </div>
    }
    <div class="comment-submit">
        @req.user.map { user =>
            @formElt(commentForm, sendComment) {
                <div class="media">
                    <img class="img-fluid rounded-circle u-avatar mr-3" src="@user.avatar.url.value" alt="@user.name.value avatar">
                    <div class="media-body">
                        <h5 class="d-flex justify-content-between align-items-center">
                            @user.name.value
                            <button type="submit" class="btn btn-primary btn-sm" tabindex="@{tabindex + 1}">Send</button>
                        </h5>
                        @inputTextarea(commentForm("text"), Seq("placeholder" -> "Add comment...", "tabindex" -> tabindex.toString))
                    </div>
                </div>
            }
        }.getOrElse {
            <a href="@AuthCtrl.login(redirect = Some(pageUrl.toString))" class="btn btn-success">Login to comment</a>
        }
    </div>
</div>
