@import fr.gospeak.core.domain.{Comment, User}
@import fr.gospeak.web.pages.partials.display.html._
@import fr.gospeak.web.pages.partials.form.html._
@import fr.gospeak.web.auth.routes.AuthCtrl
@import fr.gospeak.web.utils.Formats

@(comments: Seq[Comment.Full], commentForm: Form[Comment.Data], userOpt: Option[User], sendComment: Call, pageUrl: Call, tabindex: Int = 10)(implicit req: Request[AnyContent], messages: Messages)
<div class="comment-section">
    <div class="comment-submit">
    @userOpt.map { user =>
        @formElt(commentForm, sendComment) {
            <div class="media">
                <img src="@user.avatar.url.value" alt="@user.name.value avatar" class="mr-3 avatar">
                <div class="media-body">
                    <h5 class="mt-0 d-flex justify-content-between align-items-center">
                        @user.name.value
                        <button type="submit" class="btn btn-primary btn-sm" tabindex="@{tabindex + 1}">Send</button>
                    </h5>
                    @inputTextarea(commentForm("text"), Seq("placeholder" -> "Add comment...", "tabindex" -> tabindex.toString))
                </div>
            </div>
        }
    }.getOrElse {
        <a href="@AuthCtrl.login(redirect = Some(pageUrl.toString))" class="btn btn-success">Login to comment</a>
    }
    </div>
    @if(comments.nonEmpty) {
        <div class="comment-list">
            <h4 class="mt-3">@Formats.plural(comments.length, "comment"):</h4>
            @comments.map { comment =>
                <div class="media comment">
                    <img src="@comment.user.avatar.url.value" alt="@comment.user.name.value avatar" class="mr-3 avatar">
                    <div class="media-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="m-0">@comment.user.name.value</h5>
                            <small class="text-muted">@timeAgo(comment.createdAt)</small>
                        </div>
                        <div class="text">@comment.text</div>
                    </div>
                </div>
            }
        </div>
    }
</div>
