@import fr.gospeak.libs.scalautils.domain.Page

@(page: Page[_], link: Page.Params => Call)
@pageLink(p: Page.Params) = {
    @if(page.isCurrent(p)) {
        <li class="page-item active">
            <a class="page-link" href="@link(p)">@p.page.value <span class="sr-only">(current)</span></a>
        </li>
    } else {
        <li class="page-item">
            <a class="page-link" href="@link(p)">@p.page.value</a>
        </li>
    }
}
@if(page.hasManyPages) {
    <nav aria-label="pagination">
        <ul class="pagination">
            <li class="page-item @if(page.isFirst) {disabled}">
                <a class="page-link" href="@link(page.previous)" @if(!page.isFirst) {data-hotkey="shift+left"}>Previous</a>
            </li>
            @page.firstPages.map { pages =>
                @pages.map { n => @pageLink(n) }
                <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
            }
            @page.middlePages.map { n => @pageLink(n) }
            @page.lastPages.map { pages =>
                <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                @pages.map { n => @pageLink(n) }
            }
            <li class="page-item @if(page.isLast) {disabled}">
                <a class="page-link" href="@link(page.next)" @if(!page.isLast) {data-hotkey="shift+right"}>Next</a>
            </li>
        </ul>
    </nav>
}
