@import fr.gospeak.libs.scalautils.domain.Url
@import fr.gospeak.web.pages.partials.form.html._
@import fr.gospeak.web.utils.UserReq

@(form: Form[Url], url: Call)(implicit req: UserReq[AnyContent])
@formElt(form, url, Seq("class" -> "mb-2")) {
    <div class="row">
        <div class="col-9">@inputEmbed(form("url"), Seq("placeholder" -> "Slides (ex: https://fr.slideshare.net/loicknuchel/scala-bad-practices-scalaio-2019)", "class" -> "form-control-xs"))</div>
        <div class="col">@btnSubmit("Add slides", "btn btn-secondary btn-sm")</div>
    </div>
}
