@import fr.gospeak.web.domain.{Breadcrumb, HeaderInfo}
@import fr.gospeak.web.pages.partials.container.html.{alert, breadcrumb}

@(title: String, h: HeaderInfo, b: Option[Breadcrumb] = None)(style: Html = Html(""))(content: Html)(script: Html = Html(""))(implicit req: Request[AnyContent], messages: Messages)
@main(title, style, script) {
    @header(h)
    @b.map { b => @breadcrumb(b) }
    <div class="container">
        @req.flash.get("success").map { msg => @alert("success")(Html(msg)) }
        @req.flash.get("info").map { msg => @alert("info")(Html(msg)) }
        @req.flash.get("warning").map { msg => @alert("warning")(Html(msg)) }
        @req.flash.get("error").map { msg => @alert("danger")(Html(msg)) }
        @content
    </div>
}
