@import fr.gospeak.web.controllers.authed.routes.GroupCtrl
@import fr.gospeak.web.views.domain.{Breadcrumb, HeaderInfo}
@import fr.gospeak.web.views.html.partials.container

@()(h: HeaderInfo, b: Breadcrumb)
@container("Gospeak", h, Some(b)) {
    <div>
        <span class="float-right">
            <a class="btn btn-primary" href="@GroupCtrl.createEvent("ht-paris")">Create event</a>
        </span>
        <h1>5 events</h1>
    </div>

    <form method="GET" action="@GroupCtrl.events("ht-paris")" class="float-right">
        <label class="sr-only" for="search">Search</label>
        <div class="input-group">
            <input type="text" class="form-control" id="search" name="search" placeholder="Search...">
            <div class="input-group-append">
                <button type="submit" class="btn btn-secondary">Search</button>
            </div>
        </div>
    </form>

    <nav aria-label="Event pagination">
        <ul class="pagination">
            <li class="page-item disabled"><a class="page-link" href="@GroupCtrl.events("ht-paris")">Previous</a></li>
            <li class="page-item active"><a class="page-link" href="@GroupCtrl.events("ht-paris")">1 <span class="sr-only">(current)</span></a></li>
            <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
            <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
            <li class="page-item"><a class="page-link" href="?page=2">Next</a></li>
        </ul>
    </nav>

    <ul class="list-unstyled">
        <li class="media card my-2" style="padding: 10px">
            <div class="media-body">
                <h5 class="mt-0 mb-1">
                    <a href="@GroupCtrl.event("ht-paris", "2019-03")" style="color: inherit;">HumanTalks Paris Avril 2019</a>
                </h5>
                <b class="text-danger">Missing venue</b>, no planned talk
            </div>
        </li>
        <li class="media card my-2" style="padding: 10px">
            <div class="media-body">
                <h5 class="mt-0 mb-1">
                    <a href="@GroupCtrl.event("ht-paris", "2019-03")" style="color: inherit;">HumanTalks Paris Mars 2019</a>
                </h5>
                <b class="text-danger">Missing venue</b>, 2 planned talks
                <ul>
                    <li><a href="#">Talk 1</a></li>
                    <li><a href="#">Talk 2</a></li>
                </ul>
            </div>
        </li>
    </ul>

    <nav aria-label="Event pagination">
        <ul class="pagination">
            <li class="page-item disabled"><a class="page-link" href="@GroupCtrl.events("ht-paris")">Previous</a></li>
            <li class="page-item active"><a class="page-link" href="@GroupCtrl.events("ht-paris")">1 <span class="sr-only">(current)</span></a></li>
            <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
            <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
            <li class="page-item"><a class="page-link" href="?page=2">Next</a></li>
        </ul>
    </nav>
}
