@import fr.gospeak.web.controllers.authed.routes.HomeCtrl
@import fr.gospeak.web.views.domain.{Breadcrumb, HeaderInfo}
@import fr.gospeak.web.views.html.partials.container

@()(h: HeaderInfo, b: Breadcrumb)
@container("Gospeak", h, Some(b)) {
    <div>
        <h1>Talks</h1>
    </div>

    <ul class="list-unstyled">
        <li class="media my-4">
            <img class="mr-3" src="@routes.Assets.versioned("lib/web/img/64x64.svg")" alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0 mb-1"><a href="@HomeCtrl.talk("why-fp")" style="color: inherit;">Why FP</a></h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                purus
                odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                fringilla. Donec lacinia congue felis in faucibus.
            </div>
        </li>
        <li class="media my-4">
            <img class="mr-3" src="@routes.Assets.versioned("lib/web/img/64x64.svg")" alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0 mb-1"><a href="@HomeCtrl.talk("why-fp")" style="color: inherit;">Cats FTW</a></h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                purus
                odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                fringilla. Donec lacinia congue felis in faucibus.
            </div>
        </li>
    </ul>
}
