@import java.time.LocalDateTime

@import fr.gospeak.core.domain.{Cfp, Group}
@import fr.gospeak.web.pages.orga.cfps.routes.CfpCtrl

@(group: Group, cfp: Cfp)
<div class="list-group-item d-flex justify-content-between align-items-center @if(!cfp.isActive(LocalDateTime.now())) {inactive}">
    <div>
        <h5 class="mb-1">
            <a href="@CfpCtrl.detail(group.slug, cfp.slug)">@cfp.name.value</a>
            -
            <small>@dates(cfp)</small>
        </h5>
    </div>
    <span class="badge badge-primary badge-pill">??? proposals</span>
</div>