@import gospeak.core.domain.utils.Constants
@import gospeak.web.domain.PageMeta
@import gospeak.web.utils.BasicReq

@(title: String, m: PageMeta, style: Html, script: Html)(content: Html)(implicit req: BasicReq[AnyContent])
<!doctype html>
<html lang="en"@if(!req.conf.app.env.isProd){ class="@req.conf.app.env"}>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="request-id" content="@req.customId">

        @Constants.devMessage.split("\n").map { l => <!-- @Html(l) --> }

        <title>@if(!req.conf.app.env.isProd){[@req.conf.app.env] }@title@if(!title.startsWith(s"${Constants.Emoji.gospeak} Gospeak")){ - Gospeak}</title>
        <meta name="description" content="@m.description">
        <meta name="author" content="Loïc Knuchel,Samir Bouaked">
        <meta name="keywords" content="speaking,public,cfp,conference,meetup,tech">
        @if(m.index) { <meta name="robots" content="index, follow"> } else { <meta name="robots" content="noindex"> }
        <link rel="canonical" href="@m.url">

        <meta property="og:site_name" content="Gospeak">
        <meta property="og:type" content="@m.kind">
        <meta property="og:locale" content="en_US">
        <meta property="og:title" content="@m.title">
        <meta property="og:description" content="@m.description">
        <meta property="og:url" content="@m.url">
        <meta property="og:image" content="@m.icon">

        <meta name="twitter:image" content="@m.icon">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="@m.title">
        <meta name="twitter:description" content="@m.description">
        <meta name="twitter:url" content="@m.url">
        <meta name="twitter:site" content="@Constants.Gospeak.twitter.handle">
        <meta name="twitter:creator" content="@Constants.Gospeak.twitter.handle">
        @m.start.map { d =>
            <meta name="twitter:label2" content="When">
            <meta name="twitter:data2" content="@d.human">
            <meta property="event:start_time" content="@d.iso">
        }
        @m.end.map { d =>
            @if(m.start.isEmpty) {
                <meta name="twitter:label2" content="Finish">
                <meta name="twitter:data2" content="@d.human">
            }
            <meta property="event:end_time" content="@d.iso">
        }
        @m.location.map { l =>
            <meta property="geo.placename" content="@l.name">
            <meta property="geo.position" content="@l.coords.lat;@l.coords.lng">
            <meta property="geo.region" content="@l.locality.getOrElse(l.country)">
        }

        <script type="application/ld+json">
        {
            "@@context": "https://schema.org",
            "@@type": "Organization",
            "name": "@m.organization.name",
            "url": "@m.organization.url.value",
            "logo": "@m.organization.logo.value"
        }
        </script>
        <script type="application/ld+json">
        {
            "@@context": "https://schema.org",
            "@@type": "BreadcrumbList",
            "itemListElement": [
                @m.breadcrumb.links.zipWithIndex.map { case (l, i) =>
                    @if(i != 0){,}
                    {"@@type": "ListItem", "position": @{i+1}, "name": "@l.name", "item": "@req.toAbsolute(l.link)"}
                }
            ]
        }
        </script>
        @m.event.map { e =>
            <script type="application/ld+json">
                {
                    "@@context": "https://schema.org",
                    "@@type": "Event",
                    "name": "@e.name",
                    "image": ["@e.icon"],
                    @m.start.map { v => "startDate": "@v.iso", }
                    @m.end.map { v => "endDate": "@v.iso", }
                    @m.location.map { l =>
                      "location": {
                        "@@type": "Place",
                        "name": "@l.name",
                        "address": {
                          "@@type": "PostalAddress",
                          @l.street.map { v => "streetAddress": "@v", }
                          @l.locality.map { v => "addressLocality": "@v", }
                          @l.postalCode.map { v => "postalCode": "@v", }
                          "addressCountry": "@l.country"
                        }
                      },
                    }
                    "description": "@m.description"
                }
            </script>
        }

        <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.6.3/css/all.css">
        <link rel="stylesheet" href="@routes.Assets.versioned("select2/dist/css/select2.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("select2-bootstrap-theme/dist/select2-bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("typeahead.js-bootstrap4-css/typeaheadjs.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("web/styles/main.css")">
        @style

        @favicon()
    </head>
    <body class="bg-light">
        @content
        <script type="text/javascript" src="@routes.Assets.versioned("jquery/dist/jquery.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("bootstrap/dist/js/bootstrap.bundle.min.js")"></script>

        <script type="text/javascript" src="@routes.Assets.versioned("web/js/hs.megamenu.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("web/js/svg-injector.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("web/js/jquery.fancybox.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("web/js/typed.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("web/js/hs.core.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("web/js/components/hs.header.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("web/js/components/hs.unfold.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("web/js/components/hs.fancybox.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("web/js/components/hs.svg-injector.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("web/js/components/hs.go-to.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("web/js/components/hs.malihu-scrollbar.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("web/js/components/hs.validation.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("web/js/components/hs.focus-state.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("web/js/components/hs.show-animation.js")"></script>

        <script type="text/javascript" src="@routes.Assets.versioned("autosize/dist/autosize.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("select2/dist/js/select2.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("bootstrap-datepicker/dist/locales/bootstrap-datepicker.fr.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("imask/dist/imask.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("github-com-twitter-typeahead-js/typeahead.bundle.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("mousetrap/mousetrap.js")"></script>
        <script type="text/javascript" src="https://widget.cloudinary.com/v2.0/global/all.js"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("web/js/main.js")"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyBrYxVFLX8Vl8ClH9wp-eNK_o2vzUBdA&libraries=places&language=en&callback=googleMapsInit" async defer></script>
        <script type="text/javascript" src="https://platform.twitter.com/widgets.js" async charset="utf-8"></script>
        @script
        @analytics()
    </body>
</html>
