@import gospeak.web.domain.PageMeta

@(m: PageMeta)
<meta name="author" content="Loïc Knuchel,Samir Bouaked">
<meta name="description" content="@m.description">
<meta name="keywords" content="speaking,public,cfp,conference,meetup,tech">

<meta property="og:title" content="@m.title">
<meta property="og:description" content="@m.description">
<meta property="og:image" content="@m.image">
<meta property="og:url" content="@m.url">
<meta property="og:site_name" content="Gospeak">

<meta name="twitter:title" content="@m.title">
<meta name="twitter:description" content="@m.description">
<meta name="twitter:image" content="@m.image">
<meta name="twitter:card" content="@m.twitterCard">
<meta name="twitter:site" content="@@gospeak_io">
