@import gospeak.core.domain.CommonProposal
@import gospeak.web.pages.partials.display.html._
@import gospeak.web.pages.user.talks.proposals.routes.ProposalCtrl
@import gospeak.web.utils.Formats

@(p: CommonProposal)
@if(p.external) {
    @p.eventExt.map { event =>
        <a href="@ProposalCtrl.detailExt(p.talk.slug, p.id.external)" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between align-items-center">
                <h5 class="mb-1">@event.name.value @event.start.map { s => - @Formats.date(s) }</h5>
                <div><span class="badge badge-dark">External</span></div>
            </div>
            <div class="d-flex w-100 justify-content-between align-items-center">
                <p class="mb-1">
                    Title: @p.title.value
                    @if(p.duration != p.talk.duration) {
                        @duration(p.duration, Some("Proposal duration"))
                    }
                    @tags(p.tags)
                </p>
                <small title="Proposal date">@Formats.date(p.info.createdAt)</small>
            </div>
        </a>
    }
} else {
    @p.cfp.map { cfp =>
        <a href="@ProposalCtrl.detail(p.talk.slug, cfp.slug)" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between align-items-center">
                <h5 class="mb-1">@cfp.name.value @p.event.map { e => (@e.name.value - @Formats.date(e.start)) }</h5>
                @p.status.map { s => <div>@proposalStatus(s)</div> }
            </div>
            <div class="d-flex w-100 justify-content-between align-items-center">
                <p class="mb-1">
                    Title: @p.title.value
                    @if(p.duration != p.talk.duration) {
                        @duration(p.duration, Some("Proposal duration"))
                    }
                    @tags(p.tags)
                </p>
                <small title="Proposal date">@Formats.date(p.info.createdAt)</small>
            </div>
        </a>
    }
}
