@import gospeak.web.domain.{Breadcrumb, PageMeta}
@import gospeak.web.pages.published.partials.html.{container => published_container}
@import gospeak.web.pages.published.routes.HomeCtrl
@import gospeak.web.utils.UserReq

@(title: String, b: Breadcrumb, full: Boolean = false, hideAlert: Boolean = false)(style: Html = Html(""))(content: Html)(script: Html = Html(""))(implicit req: UserReq[AnyContent])
@published_container(title, PageMeta.noIndex, b, full = full, hideAlert = hideAlert)(style)(content)(script)(req.userAware)
