@import gospeak.web.api.ui.routes.SuggestCtrl
@import gospeak.web.pages.partials.form.html._
@import gospeak.web.utils.UserAwareReq
@import java.util.concurrent.TimeUnit

@(form: Field /*Form[Talk.Data]*/)(implicit req: UserAwareReq[AnyContent])
@fieldHorizontal(form("title"), List("label" -> "Title", "help" -> "Title of your talk")) { (field, args) =>
    @inputText(field, List("placeholder" -> "ex: Awesome FP, the practical way", "autofocus" -> "true") ++ args)
}
@fieldHorizontal(form("duration"), List("label" -> "Duration", "help" -> "Duration of your talk")) { (field, args) =>
    @inputDuration(field, List(TimeUnit.MINUTES), args = args)
}
@fieldHorizontal(form("description"), List("label" -> "Description", "help" -> "Give a abstract for your talk, you should make orga and people listen at you")) { (field, args) =>
    @inputMarkdown(field, args)
}
@fieldHorizontal(form("message"), List("label" -> "Message", "help" -> "A private message for orgas, give more details about you, your talk and why they should select you")) { (field, args) =>
    @inputMarkdown(field, args)
}
@fieldHorizontal(form("slides"), List("label" -> "Slides", "help" -> "Slides for your talk")) { (field, args) =>
    @inputEmbed(field, List("placeholder" -> "ex: https://www.slideshare.net/loicknuchel/scala-bad-practices-scalaio-2019") ++ args)
}
@fieldHorizontal(form("video"), List("label" -> "Video", "help" -> "Video of your talk")) { (field, args) =>
    @inputEmbed(field, List("placeholder" -> "ex: https://www.youtube.com/watch?v=Tm-qyMukBq4") ++ args)
}
@fieldHorizontal(form("tags"), List("label" -> "Tags", "help" -> "Main topics of your talk")) { (field, args) =>
    @inputTags(field, args ++ List("remote" -> SuggestCtrl.suggestTags().toString))
}
@fieldHorizontal(form("slug"), List("label" -> "Slug", "help" -> "Reference for your talk (in urls for example)")) { (field, args) =>
    @inputText(field, List("placeholder" -> "Talk slug", "slug-for" -> form("title").id) ++ args)
}
