@import gospeak.core.domain.Talk
@import gospeak.web.pages.partials.display.html._
@import gospeak.web.pages.user.talks.routes.TalkCtrl

@(talk: Talk)
<a href="@TalkCtrl.detail(talk.slug)" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
    <div>
        <h5 class="mb-1">@talk.title.value</h5>
        @talkStatus(talk.status) @duration(talk.duration) @tags(talk.tags)
    </div>
    @if(talk.speakers.length > 1) {
        <span class="badge badge-primary badge-pill" title="Number of speakers" data-toggle="tooltip" data-placement="left">@talk.speakers.length</span>
    }
</a>
