@import fr.gospeak.core.domain.{Event, Group}
@import fr.gospeak.web.user.groups.events.views.html.partials.{item => eventItem}
@import fr.gospeak.web.views.domain.{Breadcrumb, HeaderInfo}
@import fr.gospeak.web.views.html.partials.container

@(group: Group, events: Seq[Event])(h: HeaderInfo, b: Breadcrumb)
@container("Gospeak", h, Some(b)) {
    <div>
        <h1>@group.name.value</h1>
    </div>

    <h2>Incoming events</h2>

    <ul class="list-unstyled">
    @events.map { e => @eventItem(group, e) }
    </ul>
}
