@import gospeak.libs.scala.domain.Page

@(page: Page[_], link: Page.Params => Call, name: String, key: String)
@page.params.filters.get(key) match {
    case Some("true") => {
        <span class="badge badge-success">
            <a href="@link(page.params.dropFilter(key))"><i class="fas fa-times"></i></a>
            <a href="@link(page.params.toggleFilter(key))">@name</a>
        </span>
    }
    case Some("false") => {
        <span class="badge badge-danger">
            <a href="@link(page.params.dropFilter(key))"><i class="fas fa-times"></i></a>
            <a href="@link(page.params.toggleFilter(key))">@name</a>
        </span>
    }
    case _ => {<a class="badge badge-secondary" href="@link(page.params.toggleFilter(key))">@name</a>}
}
