@import fr.gospeak.core.domain.Venue
@(venues: Seq[Venue.Full], id: Venue.Id, call: Option[Venue => Call] = None)
@(venues.find(_.venue.id == id), call) match {
    case (Some(v), Some(url)) => {<a class="badge badge-pill badge-primary" href="@url(v.venue)" title="@v.venue.address.value" data-toggle="tooltip">@v.partner.name.value</a>}
    case (Some(v), None) => {<span class="badge badge-pill badge-primary" title="@v.venue.address.value" data-toggle="tooltip">@v.partner.name.value</span>}
    case (None, _) => {<span class="badge badge-pill badge-primary">Unknown venue (@id.value)</span>}
}
