@import fr.gospeak.core.domain.{Cfp, Event, Group, Proposal, User}
@import fr.gospeak.web.pages.partials.display.html._
@import fr.gospeak.web.pages.orga.cfps.proposals.routes.ProposalCtrl
@import fr.gospeak.web.utils.Formats

@(group: Group, cfp: Cfp, proposal: Proposal, speakers: Seq[User], events: Seq[Event])
<a class="list-group-item list-group-item-action" href="@ProposalCtrl.detail(group.slug, cfp.slug, proposal.id)">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">@proposal.title.value</h5>
        <div>@proposalStatus(proposal.status)</div>
    </div>
    <div class="d-flex w-100 justify-content-between">
        <span>
            @duration(proposal.duration)
            @proposal.speakers.toList.map { id => @speaker(speakers, id) }
            @proposal.event.map { id => @event(events, id) }
        </span>
        <small title="Proposal date">@Formats.date(proposal.info.created)</small>
    </div>
</a>
