@(title: String, style: Html, script: Html)(content: Html)
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/bootstrap/dist/css/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/select2/dist/css/select2.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/select2-bootstrap-theme/dist/select2-bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css")">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/web/css/styles.css")">
        @style
        <title>@title</title>
    </head>
    <body>
        @content
        <script type="text/javascript" src="@routes.Assets.versioned("lib/jquery/dist/jquery.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("lib/moment/moment.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("lib/bootstrap/dist/js/bootstrap.bundle.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("lib/autosize/dist/autosize.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("lib/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("lib/select2/dist/js/select2.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("lib/web/js/scripts.js")"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyBrYxVFLX8Vl8ClH9wp-eNK_o2vzUBdA&libraries=places&language=en&callback=googleMapsInit" async defer></script>
        @script
    </body>
</html>
