@import fr.gospeak.core.domain.Group
@import fr.gospeak.web.auth.domain.AuthUser
@import fr.gospeak.web.auth.routes.AuthCtrl
@import fr.gospeak.web.pages.orga.routes.GroupCtrl
@import fr.gospeak.web.pages.user.routes.UserCtrl

@(identity: AuthUser, group: Option[Group] = None)
<div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="dropdown-user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="@identity.user.avatar.url.value" alt="@identity.user.name.value avatar" class="avatar">
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-user">
        <a class="dropdown-item" href="@UserCtrl.index()" data-hotkey="g h">Home</a>
        <div class="dropdown-divider"></div>
        <h6 class="dropdown-header">My groups</h6>
        <a class="dropdown-item" href="@GroupCtrl.create()">&nbsp;&nbsp;<b>Create a group</b></a>
        <a class="dropdown-item" href="@GroupCtrl.join()">&nbsp;&nbsp;<b>Join a group</b></a>
        @identity.groups.zipWithIndex.map { case (g, i) =>
            <a class="dropdown-item @if(group.exists(_.id == g.id)) {active}" href="@GroupCtrl.detail(g.slug)" @if(i == 0){data-hotkey="g g"}>&nbsp;&nbsp;@g.name.value</a>
        }
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="@AuthCtrl.doLogout()">Logout</a>
    </div>
</div>
