@import fr.gospeak.core.domain.{Group, User}
@import fr.gospeak.web.auth.routes.AuthCtrl
@import fr.gospeak.web.pages.orga.routes.GroupCtrl
@import fr.gospeak.web.pages.user.profile.routes.ProfileCtrl
@import fr.gospeak.web.pages.user.routes.UserCtrl

@(user: User, groups: Seq[Group], group: Option[Group] = None)
<div class="nav-item dropdown list-inline-item">
    <a id="dropdown-user" data-toggle="dropdown" class="btn btn-xs btn-text-secondary u-sidebar--account__toggle-bg nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <span class="position-relative pl-1">
            <span class="u-sidebar--account__toggle-text">@user.name.value</span>
            <img class="u-sidebar--account__toggle-img" src="@user.avatar.url.value" alt="@user.name.value avatar">
        </span>
    </a>
    <div aria-labelledby="dropdown-user" class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="@UserCtrl.index()">Dashboard</a>
        <a class="dropdown-item" href="@ProfileCtrl.detail()">My profile</a>
        <div class="dropdown-divider"></div>
        <h6 class="dropdown-header">My groups</h6>
        <a class="dropdown-item" href="mailto:contact@@gospeak.io?subject=Would like to create a group!&body=Don't be shy, email us :p">&nbsp;&nbsp;<b>Create a group</b></a>
        @groups.zipWithIndex.map { case (g, i) =>
            <a class="dropdown-item @if(group.exists(_.id == g.id)) {active}" href="@GroupCtrl.detail(g.slug)" @if(i == 0){data-hotkey="g g"}>&nbsp;&nbsp;@g.name.value</a>
        }
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="@AuthCtrl.doLogout()">Logout</a>
    </div>
</div>
