@(title: String)(content: Html)
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/bootstrap/dist/css/bootstrap.min.css")">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/web/css/styles.css")">
        <title>@title</title>
    </head>
    <body>
        @content
        <script src="@routes.Assets.versioned("lib/jquery/dist/jquery.slim.min.js")"></script>
        <script src="@routes.Assets.versioned("lib/bootstrap/dist/js/bootstrap.bundle.min.js")"></script>
        <script src="@routes.Assets.versioned("lib/web/js/scripts.js")"></script>
    </body>
</html>
