@(link: Int => Call)
<nav aria-label="pagination">
    <ul class="pagination">
        <li class="page-item disabled"><a class="page-link" href="@link(1)">Previous</a></li>
        <li class="page-item active"><a class="page-link" href="@link(1)">1 <span class="sr-only">(current)</span></a></li>
        <li class="page-item"><a class="page-link" href="@link(2)">2</a></li>
        <li class="page-item"><a class="page-link" href="@link(3)">3</a></li>
        <li class="page-item"><a class="page-link" href="@link(2)">Next</a></li>
    </ul>
</nav>
